<h2 id="English">English</h2>
<section data-mw-section-id="2" id="mwAw">
 <h3 id="Pronunciation">Pronunciation</h3>
 <ul id="mwBA">
  <li id="mwBQ"><a rel="mw:WikiLink" href="./Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet" about="#mwt1" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;IPA&quot;,&quot;href&quot;:&quot;./Template:IPA&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;/pleɪd/&quot;}},&quot;i&quot;:0}}]}" id="mwBg">IPA</a><sup about="#mwt1">(<a rel="mw:WikiLink" href="./Appendix:English_pronunciation" title="Appendix:English pronunciation">key</a>)</sup><span about="#mwt1">:</span><span typeof="mw:Entity" about="#mwt1"> </span><span class="IPA" about="#mwt1">/pleɪd/</span>
   <link rel="mw:PageProp/Category" href="./Category:English_1-syllable_words" about="#mwt1">
   <link rel="mw:PageProp/Category" href="./Category:English_terms_with_IPA_pronunciation#PLAYED" about="#mwt1" id="mwBw"></li>
  <li id="mwCA"><style data-mw-deduplicate="TemplateStyles:r50165410" typeof="mw:Extension/templatestyles mw:Transclusion" about="#mwt2" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;audio&quot;,&quot;href&quot;:&quot;./Template:audio&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;en-us-played.ogg&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;Audio (US)&quot;}},&quot;i&quot;:0}}]}" id="mwCQ">.mw-parser-output .k-player .k-attribution{visibility:hidden}</style>
   <table class="audiotable" style="vertical-align: bottom; display:inline-block; list-style:none;line-height: 1em; border-collapse:collapse;" about="#mwt2">
    <tbody>
     <tr>
      <td class="unicode audiolink" style="padding-right:5px; padding-left: 0;">Audio (US)</td>
      <td class="audiofile"><span typeof="mw:File" class="mw-default-audio-height" data-mw="{&quot;caption&quot;:&quot;noicon&quot;}"><span title="noicon">
         <audio controls="" preload="none" height="32" width="175" resource="./File:en-us-played.ogg">
          <source src="//upload.wikimedia.org/wikipedia/commons/7/76/En-us-played.ogg" type="audio/ogg; codecs=&quot;vorbis&quot;" data-title="Original Ogg file (97 kbps)" data-shorttitle="Ogg source"><source src="//upload.wikimedia.org/wikipedia/commons/transcoded/7/76/En-us-played.ogg/En-us-played.ogg.mp3" type="audio/mpeg" data-title="MP3" data-shorttitle="MP3">
         </audio></span></span></td>
      <td class="audiometa" style="font-size: 80%;">(<a rel="mw:WikiLink" href="./File:en-us-played.ogg" title="File:en-us-played.ogg">file</a>)</td>
     </tr>
    </tbody>
   </table>
   <link rel="mw:PageProp/Category" href="./Category:English_terms_with_audio_links#PLAYED" about="#mwt2" id="mwCg"></li>
  <li id="mwCw"><span about="#mwt6" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;rhymes&quot;,&quot;href&quot;:&quot;./Template:rhymes&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;eɪd&quot;},&quot;s&quot;:{&quot;wt&quot;:&quot;1&quot;}},&quot;i&quot;:0}}]}" id="mwDA">Rhymes: </span><a rel="mw:WikiLink" href="./Rhymes:English/eɪd" title="Rhymes:English/eɪd" about="#mwt6"><span class="IPA">-eɪd</span></a>
   <link rel="mw:PageProp/Category" href="./Category:Rhymes:English/eɪd#PLAYED" about="#mwt6">
   <link rel="mw:PageProp/Category" href="./Category:Rhymes:English/eɪd/1_syllable#PLAYED" about="#mwt6" id="mwDQ"></li>
 </ul>
</section>
<section data-mw-section-id="3" id="mwDg">
 <h3 id="Verb">Verb</h3>
 <p id="mwDw"><strong class="Latn headword" lang="en" about="#mwt7" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;head&quot;,&quot;href&quot;:&quot;./Template:head&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;verb form&quot;}},&quot;i&quot;:0}}]}" id="mwEA">played</strong>
  <link rel="mw:PageProp/Category" href="./Category:English_non-lemma_forms#PLAYED" about="#mwt7">
  <link rel="mw:PageProp/Category" href="./Category:English_verb_forms#PLAYED" about="#mwt7" id="mwEQ"></p>
 <ol id="mwEg">
  <li id="mwEw"><span class="form-of-definition use-with-mention" about="#mwt8" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;en-past of&quot;,&quot;href&quot;:&quot;./Template:en-past_of&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;play&quot;}},&quot;i&quot;:0}}]}" id="mwFA">simple past tense and past participle of <span class="form-of-definition-link"><i class="Latn mention" lang="en"><a rel="mw:WikiLink" href="./play#English" title="play">play</a></i></span></span></li>
 </ol>
</section>
<section data-mw-section-id="4" id="mwFQ">
 <h3 id="Anagrams">Anagrams</h3>
 <ul id="mwFg">
  <li id="mwFw"><span class="Latn" lang="en" about="#mwt9" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;anagrams&quot;,&quot;href&quot;:&quot;./Template:anagrams&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;a&quot;:{&quot;wt&quot;:&quot;adelpy&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;aplyed&quot;}},&quot;i&quot;:0}}]}" id="mwGA"><a rel="mw:WikiLink" href="./aplyed#English" title="aplyed">aplyed</a></span></li>
 </ul>
</section>
