<p>
    <a href="/wiki/Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet">IPA</a>
    <sup>
        (
        <a href="/wiki/Appendix:Russian_pronunciation" title="Appendix:Russian pronunciation">key</a>
        )
    </sup>
    :
    <span class="IPA">[ʐːom]</span>
    ,
    <span class="IPA">[ʑːɵm]</span>
</p>
