<section data-mw-section-id="4" id="mwLQ"><h3 id="Adjective">Adjective</h3>
    <p id="mwLg">
        <strong class="Latn headword" lang="en" about="#mwt20" typeof="mw:Transclusion"
                data-mw='{"parts":[{"template":{"target":{"wt":"en-adj","href":"./Template:en-adj"},"params":{"1":{"wt":"er"},"2":{"wt":"more"}},"i":0}}]}'
                id="mwLw">simple
        </strong>
        <span about="#mwt20"> (</span><i about="#mwt20"><a rel="mw:WikiLink"
                                                           href="./Appendix:Glossary#comparative"
                                                           title="Appendix:Glossary">comparative</a></i>
        <span
                about="#mwt20"> </span><b class="Latn form-of lang-en comparative-form-of        " lang="en"
                                          about="#mwt20"><a
            rel="mw:WikiLink" href="./simpler#English" title="simpler">simpler</a></b><span about="#mwt20"> </span><i
            about="#mwt20">or</i><span about="#mwt20"> </span>
        <b class="Latn form-of lang-en comparative-form-of        " lang="en" about="#mwt20">
            <a rel="mw:WikiLink"
               href="./more#English"
               title="more">more
            </a>
            simple</b><span about="#mwt20">, </span><i about="#mwt20"><a rel="mw:WikiLink"
                                                                         href="./Appendix:Glossary#superlative"
                                                                         title="Appendix:Glossary">superlative</a></i><span
            about="#mwt20"> </span><b class="Latn form-of lang-en superlative-form-of        " lang="en" about="#mwt20"><a
            rel="mw:WikiLink" href="./simplest#English" title="simplest">simplest</a></b><span about="#mwt20"> </span><i
            about="#mwt20">or</i><span about="#mwt20"> </span><b
            class="Latn form-of lang-en superlative-form-of        " lang="en" about="#mwt20"><a rel="mw:WikiLink"
                                                                                                 href="./most#English"
                                                                                                 title="most">most</a>
        simple</b><span about="#mwt20">)</span>
        <link rel="mw:PageProp/Category" href="./Category:English_lemmas#SIMPLE" about="#mwt20"/>
        <link rel="mw:PageProp/Category" href="./Category:English_adjectives#SIMPLE" about="#mwt20" id="mwMA"/>
    </p>
</section>
