<section data-mw-section-id="35" id="mwAZA"><h3 id="Adjective_5">Adjective</h3>
<span about="#mwt383" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"number box","href":"./Template:number_box"},"params":{"1":{"wt":"fr"},"2":{"wt":"1"}},"i":0}}]}' id="mwAZE">
</span><table class="floatright" cellpadding="5" cellspacing="0" style="background: #ffffff; border: 1px #aaa solid; border-collapse: collapse; margin-top: .5em;" rules="all" about="#mwt383"> 
<caption><b><a rel="mw:WikiLink" href="./Appendix:French_numerals" title="Appendix:French numerals" class="mw-redirect">French numbers</a> <sup>(<span class="plainlinks"><a rel="mw:ExtLink" href="//en.wiktionary.org/w/index.php?title=Module%3Anumber_list%2Fdata%2Ffr&amp;action=edit" class="external text">edit</a></span>)</sup></b></caption>
<tbody><tr style="text-align: center; background:#dddddd;">
<td></td>
<td style="font-size:smaller;"><span class="None" lang="fr"><a rel="mw:WikiLink" href="./décuple#French" title="décuple">10</a></span></td>
<td></td></tr>
<tr style="text-align: center;">
<td style="min-width: 6em; font-size:smaller; background:#dddddd;"></td>
<th style="min-width: 6em; font-size:larger;">1</th>
<td style="min-width: 6em; font-size:smaller; background:#dddddd;"><a rel="mw:WikiLink" href="./double#French" title="double">2<span typeof="mw:Entity"> </span><span typeof="mw:Entity"> </span>→<span typeof="mw:Entity"> </span></a></td></tr>
<tr>
<td colspan="3"><span typeof="mw:Entity"> </span><span typeof="mw:Entity"> </span><span typeof="mw:Entity"> </span> <i><a rel="mw:WikiLink" href="./cardinal_number" title="cardinal number">Cardinal</a></i>: <span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./un#French" title="un">un</a></span><br/> <span typeof="mw:Entity"> </span><span typeof="mw:Entity"> </span><span typeof="mw:Entity"> </span> <i><a rel="mw:WikiLink" href="./ordinal_number" title="ordinal number">Ordinal</a></i>: <span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./premier#French" title="premier">premier</a></span><br/> <span typeof="mw:Entity"> </span><span typeof="mw:Entity"> </span><span typeof="mw:Entity"> </span> <i><b><a rel="mw:WikiLink" href="./multiplier" title="multiplier">Multiplier</a></b></i>: <span class="Latn" lang="fr"><strong class="selflink">simple</strong></span></td></tr>
</tbody></table>
<p id="mwAZI"><strong class="Latn headword" lang="fr" about="#mwt384" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"fr-adj","href":"./Template:fr-adj"},"params":{},"i":0}}]}' id="mwAZM">simple</strong><span about="#mwt384"> (</span><i about="#mwt384">plural</i><span about="#mwt384"> </span><b class="Latn form-of lang-fr p-form-of        " lang="fr" about="#mwt384"><a rel="mw:WikiLink" href="./simples#French" title="simples">simples</a></b><span about="#mwt384">)</span><link rel="mw:PageProp/Category" href="./Category:French_lemmas#SIMPLE" about="#mwt384"/><link rel="mw:PageProp/Category" href="./Category:French_adjectives#SIMPLE" about="#mwt384" id="mwAZQ"/></p>

<ol id="mwAZU"><li id="mwAZY"><a rel="mw:WikiLink" href="./single" title="single" id="mwAZc">single</a> (multiplier)
<dl id="mwAZg"><dd id="mwAZk"><div class="h-usage-example" about="#mwt385" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"usex","href":"./Template:usex"},"params":{"1":{"wt":"fr"},"2":{"wt":"comptabilité en partie &apos;&apos;&apos;simple&apos;&apos;&apos; et double"},"3":{"wt":"single-entry and double-entry bookkeping"}},"i":0}}]}' id="mwAZo"><i class="Latn mention e-example" lang="fr">comptabilité en partie <b>simple</b> et double</i><dl><dd><span class="e-translation">single-entry and double-entry bookkeping</span></dd></dl></div><link rel="mw:PageProp/Category" href="./Category:French_terms_with_usage_examples#SIMPLE" about="#mwt385" id="mwAZs"/></dd>
<dd id="mwAZw"><div class="h-usage-example" about="#mwt386" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"usex","href":"./Template:usex"},"params":{"1":{"wt":"fr"},"2":{"wt":"passer du &apos;&apos;&apos;simple&apos;&apos;&apos; au double, du &apos;&apos;&apos;simple&apos;&apos;&apos; au triple..."},"3":{"wt":"to double, triple..."}},"i":0}}]}' id="mwAZ0"><i class="Latn mention e-example" lang="fr">passer du <b>simple</b> au double, du <b>simple</b> au triple...</i><dl><dd><span class="e-translation">to double, triple...</span></dd></dl></div><link rel="mw:PageProp/Category" href="./Category:French_terms_with_usage_examples#SIMPLE" about="#mwt386" id="mwAZ4"/></dd></dl></li>
<li id="mwAZ8"><span class="Latn" lang="en" about="#mwt387" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"l","href":"./Template:l"},"params":{"1":{"wt":"en"},"2":{"wt":"simple"}},"i":0}}]}' id="mwAaA"><a rel="mw:WikiLink" href="./simple#English" title="simple">simple</a></span>
<dl id="mwAaE"><dd id="mwAaI"><div class="h-usage-example" about="#mwt388" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"ux","href":"./Template:ux"},"params":{"1":{"wt":"fr"},"2":{"wt":"Un homme simple"},"3":{"wt":"A simple man"}},"i":0}}]}' id="mwAaM"><i class="Latn mention e-example" lang="fr">Un homme simple</i><dl><dd><span class="e-translation">A simple man</span></dd></dl></div><link rel="mw:PageProp/Category" href="./Category:French_terms_with_usage_examples#SIMPLE" about="#mwt388" id="mwAaQ"/></dd></dl></li>
<li id="mwAaU"><span class="Latn" lang="en" about="#mwt389" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"l","href":"./Template:l"},"params":{"1":{"wt":"en"},"2":{"wt":"one-way"}},"i":0}}]}' id="mwAaY"><a rel="mw:WikiLink" href="./one-way#English" title="one-way">one-way</a></span>
<dl id="mwAac"><dd id="mwAag"><div class="h-usage-example" about="#mwt390" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"ux","href":"./Template:ux"},"params":{"1":{"wt":"fr"},"2":{"wt":"Un billet simple"},"3":{"wt":"A one-way ticket"}},"i":0}}]}' id="mwAak"><i class="Latn mention e-example" lang="fr">Un billet simple</i><dl><dd><span class="e-translation">A one-way ticket</span></dd></dl></div><link rel="mw:PageProp/Category" href="./Category:French_terms_with_usage_examples#SIMPLE" about="#mwt390" id="mwAao"/></dd></dl></li>
<li id="mwAas"><span class="Latn" lang="en" about="#mwt391" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"l","href":"./Template:l"},"params":{"1":{"wt":"en"},"2":{"wt":"mere"}},"i":0}}]}' id="mwAaw"><a rel="mw:WikiLink" href="./mere#English" title="mere">mere</a></span>
<dl id="mwAa0"><dd id="mwAa4"><div class="h-usage-example" about="#mwt392" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"ux","href":"./Template:ux"},"params":{"1":{"wt":"fr"},"2":{"wt":"Un simple soldat"},"3":{"wt":"A mere soldier"}},"i":0}}]}' id="mwAa8"><i class="Latn mention e-example" lang="fr">Un simple soldat</i><dl><dd><span class="e-translation">A mere soldier</span></dd></dl></div><link rel="mw:PageProp/Category" href="./Category:French_terms_with_usage_examples#SIMPLE" about="#mwt392" id="mwAbA"/></dd></dl></li></ol>

<section data-mw-section-id="36" id="mwAbE"><h4 id="Usage_notes">Usage notes</h4>
<p id="mwAbI">The second and third meanings are taken when the adjective is placed after the noun. The fourth meaning is taken when it is located before the noun.</p>

</section><section data-mw-section-id="37" id="mwAbM"><h4 id="Derived_terms_4">Derived terms</h4>
<div class="list-switcher" data-toggle-category="derived terms" about="#mwt393" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"col3","href":"./Template:col3"},"params":{"1":{"wt":"fr\n"},"2":{"wt":"aller simple\n"},"3":{"wt":"corps simple\n"},"4":{"wt":"dans le plus simple appareil\n"},"5":{"wt":"dans son plus simple appareil\n"},"6":{"wt":"en partie simple\n"},"7":{"wt":"futur simple\n"},"8":{"wt":"passé simple\n"},"9":{"wt":"phrase simple\n"},"10":{"wt":"réduire à sa plus simple expression\n"},"11":{"wt":"simple comme bonjour\n"},"12":{"wt":"simple d&apos;esprit\n"},"13":{"wt":"simplement\n"}},"i":0}}]}' id="mwAbQ"><div class="derivedterms term-list ul-column-count" data-column-count="3" style="background-color: #F8F8FF;">
<ul><li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./aller_simple#French" title="aller simple">aller simple</a></span></li>
<li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./corps_simple#French" title="corps simple">corps simple</a></span></li>
<li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./dans_le_plus_simple_appareil#French" title="dans le plus simple appareil">dans le plus simple appareil</a></span></li>
<li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./dans_son_plus_simple_appareil#French" title="dans son plus simple appareil">dans son plus simple appareil</a></span></li>
<li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./en_partie_simple#French" title="en partie simple">en partie simple</a></span></li>
<li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./futur_simple#French" title="futur simple">futur simple</a></span></li>
<li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./passé_simple#French" title="passé simple">passé simple</a></span></li>
<li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./phrase_simple#French" title="phrase simple">phrase simple</a></span></li>
<li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./réduire_à_sa_plus_simple_expression#French" title="réduire à sa plus simple expression">réduire à sa plus simple expression</a></span></li>
<li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./simple_comme_bonjour#French" title="simple comme bonjour">simple comme bonjour</a></span></li>
<li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./simple_d'esprit#French" title="simple d'esprit">simple d'esprit</a></span></li>
<li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./simplement#French" title="simplement">simplement</a></span></li></ul></div><div class="list-switcher-element" data-showtext=" show more ▼ " data-hidetext=" show less ▲ " style="display: none;"><span typeof="mw:Entity"> </span></div></div>

</section><section data-mw-section-id="38" id="mwAbU"><h4 id="Descendants">Descendants</h4>
<ul id="mwAbY"><li id="mwAbc"><span class="desc-arr" title="borrowed" about="#mwt394" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"desc","href":"./Template:desc"},"params":{"bor":{"wt":"1"},"1":{"wt":"ro"},"2":{"wt":"simplu"}},"i":0}}]}' id="mwAbg">→</span><span about="#mwt394"> Romanian: </span><span class="Latn" lang="ro" about="#mwt394"><a rel="mw:WikiLink" href="./simplu#Romanian" title="simplu">simplu</a></span><style data-mw-deduplicate="TemplateStyles:r54857417" typeof="mw:Extension/templatestyles" about="#mwt394" data-mw='{"name":"templatestyles","attrs":{"src":"Module:etymology/style.css"},"body":{"extsrc":""}}'>.mw-parser-output .desc-arr[title]{cursor:help}.mw-parser-output .desc-arr[title="uncertain"]{font-size:.7em;vertical-align:super}</style></li></ul>

</section></section>
<p id="mwAbo"><strong class="Latn headword" lang="fr" about="#mwt397" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"fr-noun","href":"./Template:fr-noun"},"params":{"1":{"wt":"m"}},"i":0}}]}' id="mwAbs">simple</strong><span typeof="mw:Entity" about="#mwt397"> </span><span class="gender" about="#mwt397"><abbr title="masculine gender">m</abbr></span><span about="#mwt397"> (</span><i about="#mwt397">plural</i><span about="#mwt397"> </span><b class="Latn form-of lang-fr p-form-of        " lang="fr" about="#mwt397"><a rel="mw:WikiLink" href="./simples#French" title="simples">simples</a></b><span about="#mwt397">)</span><link rel="mw:PageProp/Category" href="./Category:French_lemmas#SIMPLE" about="#mwt397"/><link rel="mw:PageProp/Category" href="./Category:French_nouns#SIMPLE" about="#mwt397"/><link rel="mw:PageProp/Category" href="./Category:French_masculine_nouns#SIMPLE" about="#mwt397"/><link rel="mw:PageProp/Category" href="./Category:French_countable_nouns#SIMPLE" about="#mwt397"/><link rel="mw:PageProp/Category" href="./Category:French_masculine_nouns#SIMPLE" about="#mwt397" id="mwAbw"/></p>

<ol id="mwAb0"><li id="mwAb4">one-way ticket</li>
<li id="mwAb8"><span class="ib-brac" about="#mwt398" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"lb","href":"./Template:lb"},"params":{"1":{"wt":"fr"},"2":{"wt":"baseball"}},"i":0}}]}' id="mwAcA">(</span><span class="ib-content" about="#mwt398"><a rel="mw:WikiLink" href="./baseball" title="baseball">baseball</a><link rel="mw:PageProp/Category" href="./Category:fr:Baseball#SIMPLE"/></span><span class="ib-brac" about="#mwt398" id="mwAcE">)</span> <a rel="mw:WikiLink" href="./single#Noun" title="single" id="mwAcI">single</a></li></ol>

<section data-mw-section-id="40" id="mwAcM"><h4 id="Related_terms_2">Related terms</h4>
<div class="list-switcher" data-toggle-category="derived terms" about="#mwt399" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"rel4","href":"./Template:rel4"},"params":{"1":{"wt":"fr"},"2":{"wt":"aller simple"},"3":{"wt":"simplement"},"4":{"wt":"simplicité"},"5":{"wt":"simplifier"}},"i":0}}]}' id="mwAcQ"><div class="derivedterms term-list ul-column-count" data-column-count="4" style="background-color: #F8F8FF;">
<ul><li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./aller_simple#French" title="aller simple">aller simple</a></span></li>
<li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./simplement#French" title="simplement">simplement</a></span></li>
<li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./simplicité#French" title="simplicité">simplicité</a></span></li>
<li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./simplifier#French" title="simplifier">simplifier</a></span></li></ul></div><div class="list-switcher-element" data-showtext=" show more ▼ " data-hidetext=" show less ▲ " style="display: none;"><span typeof="mw:Entity"> </span></div></div>

</section></section><section data-mw-section-id="41" id="mwAcU"><h3 id="Further_reading_2">Further reading</h3>
<ul id="mwAcY"><li id="mwAcc"><span about="#mwt400" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"R:TLFi","href":"./Template:R:TLFi"},"params":{},"i":0}}]}' id="mwAcg">“</span><a rel="mw:ExtLink" href="https://www.cnrtl.fr/definition/simple" about="#mwt400" class="external text">simple</a><span about="#mwt400">”, in</span><span typeof="mw:Entity" about="#mwt400"> </span><cite about="#mwt400"><span class="Latn" lang="fr"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Trésor%20de%20la%20langue%20française%20informatisé" title="wikipedia:Trésor de la langue française informatisé" class="extiw">Trésor de la langue française informatisé</a></span> <span style="font-style: normal;">[</span>Digitized Treasury of the French Language<span style="font-style: normal;">]</span></cite><span about="#mwt400">, 2012.</span></li></ul>

</section><section data-mw-section-id="42" id="mwAck"><h3 id="Anagrams_2">Anagrams</h3>
<ul id="mwAco"><li id="mwAcs"><span class="Latn" lang="fr" about="#mwt401" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"l","href":"./Template:l"},"params":{"1":{"wt":"fr"},"2":{"wt":"emplis"}},"i":0}}]}' id="mwAcw"><a rel="mw:WikiLink" href="./emplis#French" title="emplis">emplis</a></span></li></ul>

<link rel="mw:PageProp/Category" href="./Category:fr:Personality" id="mwAc0"/>

<hr id="mwAc4"/>

</section></section><section data-mw-section-id="43" id="mwAc8"><h2 id="Galician">Galician</h2>

<section data-mw-section-id="44" id="mwAdA"><h3 id="Etymology_7">Etymology</h3>
<p id="mwAdE">Borrowed from <span class="etyl" about="#mwt402" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"bor","href":"./Template:bor"},"params":{"1":{"wt":"gl"},"2":{"wt":"la"},"3":{"wt":"simplex"}},"i":0}}]}' id="mwAdI"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Latin" title="w:Latin" class="extiw">Latin</a><link rel="mw:PageProp/Category" href="./Category:Galician_terms_borrowed_from_Latin#SIMPLE"/><link rel="mw:PageProp/Category" href="./Category:Galician_terms_derived_from_Latin#SIMPLE"/></span><span about="#mwt402"> </span><i class="Latn mention" lang="la" about="#mwt402" id="mwAdM"><a rel="mw:WikiLink" href="./simplex#Latin" title="simplex">simplex</a></i>. Displaced <span class="etyl" about="#mwt403" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"cog","href":"./Template:cog"},"params":{"1":{"wt":"roa-opt"},"2":{"wt":"simplez"}},"i":0}}]}' id="mwAdQ"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Galician-Portuguese" title="w:Galician-Portuguese" class="extiw">Old Portuguese</a></span><span about="#mwt403"> </span><i class="Latn mention" lang="roa-opt" about="#mwt403" id="mwAdU"><a rel="mw:WikiLink" href="./simplez#Old_Portuguese" title="simplez" class="new">simplez</a></i>.</p>

</section><section data-mw-section-id="45" id="mwAdY"><h3 id="Adjective_6">Adjective</h3>
<p id="mwAdc"><strong class="Latn headword" lang="gl" about="#mwt404" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"gl-adj","href":"./Template:gl-adj"},"params":{"f":{"wt":"simple"}},"i":0}}]}' id="mwAdg">simple</strong><span about="#mwt404"> </span><span class="gender" about="#mwt404"><abbr title="masculine gender">m</abbr> or <abbr title="feminine gender">f</abbr></span><span about="#mwt404"> (</span><i about="#mwt404">plural</i><span about="#mwt404"> </span><b about="#mwt404"><span class="Latn form-of lang-gl p-form-of        " lang="gl"><a rel="mw:WikiLink" href="./simples#Galician" title="simples">simples</a></span></b><span about="#mwt404">)</span><link rel="mw:PageProp/Category" href="./Category:Galician_lemmas" about="#mwt404"/><link rel="mw:PageProp/Category" href="./Category:Galician_adjectives" about="#mwt404" id="mwAdk"/></p>

<ol id="mwAdo"><li id="mwAds"><span class="Latn" lang="en" about="#mwt405" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"l","href":"./Template:l"},"params":{"1":{"wt":"en"},"2":{"wt":"simple"}},"i":0}}]}' id="mwAdw"><a rel="mw:WikiLink" href="./simple#English" title="simple">simple</a></span></li></ol>

<hr id="mwAd0"/>

</section></section><section data-mw-section-id="46" id="mwAd4"><h2 id="German">German</h2>

<section data-mw-section-id="47" id="mwAd8"><h3 id="Adjective_7">Adjective</h3>
<p id="mwAeA"><strong class="Latn headword" lang="de" about="#mwt406" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"head","href":"./Template:head"},"params":{"1":{"wt":"de"},"2":{"wt":"adjective form"}},"i":0}}]}' id="mwAeE">simple</strong><link rel="mw:PageProp/Category" href="./Category:German_non-lemma_forms#SIMPLE" about="#mwt406"/><link rel="mw:PageProp/Category" href="./Category:German_adjective_forms#SIMPLE" about="#mwt406" id="mwAeI"/></p>

<ol id="mwAeM"><li id="mwAeQ"><span class="form-of-definition use-with-mention" about="#mwt407" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"de-adj form of","href":"./Template:de-adj_form_of"},"params":{"1":{"wt":"simpel"}},"i":0}}]}' id="mwAeU">inflection of <span class="form-of-definition-link"><i class="Latn mention" lang="de"><a rel="mw:WikiLink" href="./simpel#German" title="simpel">simpel</a></i></span>:</span><span about="#mwt407">
</span><ol about="#mwt407"><li><span class="form-of-definition use-with-mention"><span class="inflection-of-conjoined"><a rel="mw:WikiLink" href="./Appendix:Glossary#indefinite" title="Appendix:Glossary">strong</a><span class="inflection-of-sep">/</span><a rel="mw:WikiLink" href="./Appendix:Glossary#mixed" title="Appendix:Glossary">mixed</a></span> <span class="inflection-of-conjoined"><a rel="mw:WikiLink" href="./Appendix:Glossary#nominative_case" title="Appendix:Glossary">nominative</a><span class="inflection-of-sep">/</span><a rel="mw:WikiLink" href="./Appendix:Glossary#accusative_case" title="Appendix:Glossary">accusative</a></span> <a rel="mw:WikiLink" href="./Appendix:Glossary#gender" title="Appendix:Glossary">feminine</a> <a rel="mw:WikiLink" href="./Appendix:Glossary#singular_number" title="Appendix:Glossary">singular</a></span></li>
<li><span class="form-of-definition use-with-mention"><a rel="mw:WikiLink" href="./Appendix:Glossary#indefinite" title="Appendix:Glossary">strong</a> <span class="inflection-of-conjoined"><a rel="mw:WikiLink" href="./Appendix:Glossary#nominative_case" title="Appendix:Glossary">nominative</a><span class="inflection-of-sep">/</span><a rel="mw:WikiLink" href="./Appendix:Glossary#accusative_case" title="Appendix:Glossary">accusative</a></span> <a rel="mw:WikiLink" href="./Appendix:Glossary#plural_number" title="Appendix:Glossary">plural</a></span></li>
<li><span class="form-of-definition use-with-mention"><a rel="mw:WikiLink" href="./Appendix:Glossary#definite" title="Appendix:Glossary">weak</a> <a rel="mw:WikiLink" href="./Appendix:Glossary#nominative_case" title="Appendix:Glossary">nominative</a> all-gender <a rel="mw:WikiLink" href="./Appendix:Glossary#singular_number" title="Appendix:Glossary">singular</a></span></li>
<li><span class="form-of-definition use-with-mention"><a rel="mw:WikiLink" href="./Appendix:Glossary#definite" title="Appendix:Glossary">weak</a> <a rel="mw:WikiLink" href="./Appendix:Glossary#accusative_case" title="Appendix:Glossary">accusative</a> <span class="inflection-of-conjoined"><a rel="mw:WikiLink" href="./Appendix:Glossary#gender" title="Appendix:Glossary">feminine</a><span class="inflection-of-sep">/</span><a rel="mw:WikiLink" href="./Appendix:Glossary#gender" title="Appendix:Glossary">neuter</a></span> <a rel="mw:WikiLink" href="./Appendix:Glossary#singular_number" title="Appendix:Glossary">singular</a></span></li></ol></li></ol>

<hr id="mwAeY"/>

</section></section><section data-mw-section-id="48" id="mwAec"><h2 id="Latin">Latin</h2>

<section data-mw-section-id="49" id="mwAeg"><h3 id="Adjective_8">Adjective</h3>
<p id="mwAek"><strong class="Latn headword" lang="la" about="#mwt408" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"la-adj-form","href":"./Template:la-adj-form"},"params":{"1":{"wt":"simple"}},"i":0}}]}' id="mwAeo">simple</strong><link rel="mw:PageProp/Category" href="./Category:Latin_non-lemma_forms#SIMPLE" about="#mwt408"/><link rel="mw:PageProp/Category" href="./Category:Latin_adjective_forms#SIMPLE" about="#mwt408" id="mwAes"/></p>

<ol id="mwAew"><li id="mwAe0"><span class="form-of-definition use-with-mention" about="#mwt409" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"inflection of","href":"./Template:inflection_of"},"params":{"1":{"wt":"la"},"2":{"wt":"simplus"},"3":{"wt":""},"4":{"wt":"voc"},"5":{"wt":"m"},"6":{"wt":"s"}},"i":0}}]}' id="mwAe4"><a rel="mw:WikiLink" href="./Appendix:Glossary#vocative_case" title="Appendix:Glossary">vocative</a> <a rel="mw:WikiLink" href="./Appendix:Glossary#gender" title="Appendix:Glossary">masculine</a> <a rel="mw:WikiLink" href="./Appendix:Glossary#singular_number" title="Appendix:Glossary">singular</a> of <span class="form-of-definition-link"><i class="Latn mention" lang="la"><a rel="mw:WikiLink" href="./simplus#Latin" title="simplus">simplus</a></i></span></span></li></ol>

<hr id="mwAe8"/>

</section></section><section data-mw-section-id="50" id="mwAfA"><h2 id="Middle_English">Middle English</h2>

<section data-mw-section-id="51" id="mwAfE"><h3 id="Adjective_9">Adjective</h3>
<p id="mwAfI"><strong class="Latn headword" lang="enm" about="#mwt410" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"head","href":"./Template:head"},"params":{"1":{"wt":"enm"},"2":{"wt":"adjective"}},"i":0}}]}' id="mwAfM">simple</strong><link rel="mw:PageProp/Category" href="./Category:Middle_English_lemmas#SIMPLE" about="#mwt410"/><link rel="mw:PageProp/Category" href="./Category:Middle_English_adjectives#SIMPLE" about="#mwt410" id="mwAfQ"/></p>

<ol id="mwAfU"><li id="mwAfY"><span class="form-of-definition use-with-mention" about="#mwt411" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"alternative form of","href":"./Template:alternative_form_of"},"params":{"1":{"wt":"enm"},"2":{"wt":"symple"}},"i":0}}]}' id="mwAfc">Alternative form of <span class="form-of-definition-link"><i class="Latn mention" lang="enm"><a rel="mw:WikiLink" href="./symple#Middle_English" title="symple">symple</a></i></span></span></li></ol>

</section><section data-mw-section-id="52" id="mwAfg"><h3 id="Noun_3">Noun</h3>
<p id="mwAfk"><strong class="Latn headword" lang="enm" about="#mwt412" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"head","href":"./Template:head"},"params":{"1":{"wt":"enm"},"2":{"wt":"noun"}},"i":0}}]}' id="mwAfo">simple</strong><link rel="mw:PageProp/Category" href="./Category:Middle_English_lemmas#SIMPLE" about="#mwt412"/><link rel="mw:PageProp/Category" href="./Category:Middle_English_nouns#SIMPLE" about="#mwt412" id="mwAfs"/></p>

<ol id="mwAfw"><li id="mwAf0"><span class="form-of-definition use-with-mention" about="#mwt413" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"alternative form of","href":"./Template:alternative_form_of"},"params":{"1":{"wt":"enm"},"2":{"wt":"symple"}},"i":0}}]}' id="mwAf4">Alternative form of <span class="form-of-definition-link"><i class="Latn mention" lang="enm"><a rel="mw:WikiLink" href="./symple#Middle_English" title="symple">symple</a></i></span></span></li></ol>

<hr id="mwAf8"/>

</section></section><section data-mw-section-id="53" id="mwAgA"><h2 id="Norwegian_Bokmål"><span id="Norwegian_Bokm.C3.A5l" typeof="mw:FallbackId"></span>Norwegian Bokmål</h2>

<section data-mw-section-id="54" id="mwAgE"><h3 id="Adjective_10">Adjective</h3>
<p id="mwAgI"><strong class="Latn headword" lang="nb" about="#mwt414" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"nb-adj-form","href":"./Template:nb-adj-form"},"params":{},"i":0}}]}' id="mwAgM">simple</strong><link rel="mw:PageProp/Category" href="./Category:Norwegian_Bokmål_non-lemma_forms#SIMPLE" about="#mwt414"/><link rel="mw:PageProp/Category" href="./Category:Norwegian_Bokmål_adjective_forms#SIMPLE" about="#mwt414" id="mwAgQ"/></p>

<ol id="mwAgU"><li id="mwAgY"><span class="form-of-definition use-with-mention" about="#mwt415" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"inflection of","href":"./Template:inflection_of"},"params":{"1":{"wt":"nb"},"2":{"wt":"simpel"},"3":{"wt":""},"4":{"wt":"def"},"5":{"wt":"s"}},"i":0}}]}' id="mwAgc"><a rel="mw:WikiLink" href="./Appendix:Glossary#definite" title="Appendix:Glossary">definite</a> <a rel="mw:WikiLink" href="./Appendix:Glossary#singular_number" title="Appendix:Glossary">singular</a> of <span class="form-of-definition-link"><i class="Latn mention" lang="nb"><a rel="mw:WikiLink" href="./simpel#Norwegian_Bokmål" title="simpel">simpel</a></i></span></span></li>
<li id="mwAgg"><span class="form-of-definition use-with-mention" about="#mwt416" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"inflection of","href":"./Template:inflection_of"},"params":{"1":{"wt":"nb"},"2":{"wt":"simpel"},"3":{"wt":""},"4":{"wt":"p"}},"i":0}}]}' id="mwAgk"><a rel="mw:WikiLink" href="./Appendix:Glossary#plural_number" title="Appendix:Glossary">plural</a> of <span class="form-of-definition-link"><i class="Latn mention" lang="nb"><a rel="mw:WikiLink" href="./simpel#Norwegian_Bokmål" title="simpel">simpel</a></i></span></span></li></ol>

<hr id="mwAgo"/>

</section></section><section data-mw-section-id="55" id="mwAgs"><h2 id="Norwegian_Nynorsk">Norwegian Nynorsk</h2>

<section data-mw-section-id="56" id="mwAgw"><h3 id="Adjective_11">Adjective</h3>
<p id="mwAg0"><strong class="Latn headword" lang="nn" about="#mwt417" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"nn-adj-form","href":"./Template:nn-adj-form"},"params":{},"i":0}}]}' id="mwAg4">simple</strong><link rel="mw:PageProp/Category" href="./Category:Norwegian_Nynorsk_non-lemma_forms#SIMPLE" about="#mwt417"/><link rel="mw:PageProp/Category" href="./Category:Norwegian_Nynorsk_adjective_forms#SIMPLE" about="#mwt417" id="mwAg8"/></p>

<ol id="mwAhA"><li id="mwAhE"><span class="form-of-definition use-with-mention" about="#mwt418" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"inflection of","href":"./Template:inflection_of"},"params":{"1":{"wt":"nn"},"2":{"wt":"simpel"},"3":{"wt":""},"4":{"wt":"def"},"5":{"wt":"s"}},"i":0}}]}' id="mwAhI"><a rel="mw:WikiLink" href="./Appendix:Glossary#definite" title="Appendix:Glossary">definite</a> <a rel="mw:WikiLink" href="./Appendix:Glossary#singular_number" title="Appendix:Glossary">singular</a> of <span class="form-of-definition-link"><i class="Latn mention" lang="nn"><a rel="mw:WikiLink" href="./simpel#Norwegian_Nynorsk" title="simpel">simpel</a></i></span></span></li>
<li id="mwAhM"><span class="form-of-definition use-with-mention" about="#mwt419" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"inflection of","href":"./Template:inflection_of"},"params":{"1":{"wt":"nn"},"2":{"wt":"simpel"},"3":{"wt":""},"4":{"wt":"p"}},"i":0}}]}' id="mwAhQ"><a rel="mw:WikiLink" href="./Appendix:Glossary#plural_number" title="Appendix:Glossary">plural</a> of <span class="form-of-definition-link"><i class="Latn mention" lang="nn"><a rel="mw:WikiLink" href="./simpel#Norwegian_Nynorsk" title="simpel">simpel</a></i></span></span></li></ol>

<hr id="mwAhU"/>

</section></section><section data-mw-section-id="57" id="mwAhY"><h2 id="Old_French">Old French</h2>

<section data-mw-section-id="58" id="mwAhc"><h3 id="Alternative_forms">Alternative forms</h3>
<ul id="mwAhg"><li id="mwAhk"><span class="Latn" lang="fro" about="#mwt420" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"alter","href":"./Template:alter"},"params":{"1":{"wt":"fro"},"2":{"wt":"sinple"}},"i":0}}]}' id="mwAho"><a rel="mw:WikiLink" href="./sinple#Old_French" title="sinple">sinple</a></span></li></ul>

</section><section data-mw-section-id="59" id="mwAhs"><h3 id="Etymology_8">Etymology</h3>
<p id="mwAhw">Borrowed from <span class="etyl" about="#mwt421" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"bor","href":"./Template:bor"},"params":{"1":{"wt":"fro"},"2":{"wt":"la"},"3":{"wt":"simplex"}},"i":0}}]}' id="mwAh0"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Latin" title="w:Latin" class="extiw">Latin</a><link rel="mw:PageProp/Category" href="./Category:Old_French_terms_borrowed_from_Latin#SIMPLE"/><link rel="mw:PageProp/Category" href="./Category:Old_French_terms_derived_from_Latin#SIMPLE"/></span><span about="#mwt421"> </span><i class="Latn mention" lang="la" about="#mwt421" id="mwAh4"><a rel="mw:WikiLink" href="./simplex#Latin" title="simplex">simplex</a></i>.</p>

</section><section data-mw-section-id="60" id="mwAh8"><h3 id="Adjective_12">Adjective</h3>
<p id="mwAiA"><strong class="Latn headword" lang="fro" about="#mwt422" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"fro-adj","href":"./Template:fro-adj"},"params":{"1":{"wt":"mf"}},"i":0}}]}' id="mwAiE">simple</strong><span typeof="mw:Entity" about="#mwt422"> </span><span class="gender" about="#mwt422"><abbr title="masculine gender">m</abbr></span><span about="#mwt422"> (</span><i about="#mwt422">oblique and nominative feminine singular</i><span about="#mwt422"> </span><b class="Latn" lang="fro" about="#mwt422"><strong class="selflink">simple</strong></b><span about="#mwt422">)</span><link rel="mw:PageProp/Category" href="./Category:Old_French_lemmas#SIMPLE" about="#mwt422"/><link rel="mw:PageProp/Category" href="./Category:Old_French_adjectives#SIMPLE" about="#mwt422" id="mwAiI"/></p>

<ol id="mwAiM"><li id="mwAiQ"><a rel="mw:WikiLink" href="./innocent" title="innocent" id="mwAiU">innocent</a></li>
<li id="mwAiY"><a rel="mw:WikiLink" href="./mere" title="mere" id="mwAic">mere</a>; <span class="Latn" lang="en" about="#mwt423" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"l","href":"./Template:l"},"params":{"1":{"wt":"en"},"2":{"wt":"simple"}},"i":0}}]}' id="mwAig"><a rel="mw:WikiLink" href="./simple#English" title="simple">simple</a></span></li>
<li id="mwAik"><a rel="mw:WikiLink" href="./honest" title="honest" id="mwAio">honest</a>; without <a rel="mw:WikiLink" href="./pretense" title="pretense" id="mwAis">pretense</a></li>
<li id="mwAiw"><a rel="mw:WikiLink" href="./peasant" title="peasant" id="mwAi0">peasant</a>, <a rel="mw:WikiLink" href="./pauper" title="pauper" id="mwAi4">pauper</a> (attributive)</li></ol>

<section data-mw-section-id="61" id="mwAi8"><h4 id="Descendants_2">Descendants</h4>
<ul id="mwAjA"><li id="mwAjE"><span about="#mwt424" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"desc","href":"./Template:desc"},"params":{"1":{"wt":"fr"},"2":{"wt":"simple"}},"i":0}}]}' id="mwAjI">French: </span><span class="Latn" lang="fr" about="#mwt424"><a rel="mw:WikiLink" href="./simple#French" title="simple">simple</a></span><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r54857417" about="#mwt424" typeof="mw:Extension/templatestyles" data-mw='{"name":"templatestyles","attrs":{"src":"Module:etymology/style.css"},"body":{"extsrc":""}}'/>
<ul id="mwAjM"><li id="mwAjQ"><span class="desc-arr" title="borrowed" about="#mwt427" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"desc","href":"./Template:desc"},"params":{"bor":{"wt":"1"},"1":{"wt":"ro"},"2":{"wt":"simplu"}},"i":0}}]}' id="mwAjU">→</span><span about="#mwt427"> Romanian: </span><span class="Latn" lang="ro" about="#mwt427"><a rel="mw:WikiLink" href="./simplu#Romanian" title="simplu">simplu</a></span><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r54857417" about="#mwt427" typeof="mw:Extension/templatestyles" data-mw='{"name":"templatestyles","attrs":{"src":"Module:etymology/style.css"},"body":{"extsrc":""}}'/></li></ul></li>
<li id="mwAjY"><span class="desc-arr" title="borrowed" about="#mwt430" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"desc","href":"./Template:desc"},"params":{"bor":{"wt":"1"},"1":{"wt":"enm"},"2":{"wt":"symple"}},"i":0}}]}' id="mwAjc">→</span><span about="#mwt430"> Middle English: </span><span class="Latn" lang="enm" about="#mwt430"><a rel="mw:WikiLink" href="./symple#Middle_English" title="symple">symple</a></span><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r54857417" about="#mwt430" typeof="mw:Extension/templatestyles" data-mw='{"name":"templatestyles","attrs":{"src":"Module:etymology/style.css"},"body":{"extsrc":""}}'/>, <span class="Latn" lang="enm" about="#mwt433" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"l","href":"./Template:l"},"params":{"1":{"wt":"enm"},"2":{"wt":"simple"}},"i":0}}]}' id="mwAjg"><a rel="mw:WikiLink" href="./simple#Middle_English" title="simple">simple</a></span>
<ul id="mwAjk"><li id="mwAjo"><span about="#mwt434" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"desc","href":"./Template:desc"},"params":{"1":{"wt":"sco"},"2":{"wt":"semple"}},"i":0}}]}' id="mwAjs">Scots: </span><span class="Latn" lang="sco" about="#mwt434"><a rel="mw:WikiLink" href="./semple#Scots" title="semple">semple</a></span><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r54857417" about="#mwt434" typeof="mw:Extension/templatestyles" data-mw='{"name":"templatestyles","attrs":{"src":"Module:etymology/style.css"},"body":{"extsrc":""}}'/></li>
<li id="mwAjw"><span about="#mwt437" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"desc","href":"./Template:desc"},"params":{"1":{"wt":"en"},"2":{"wt":"simple"}},"i":0}}]}' id="mwAj0">English: </span><span class="Latn" lang="en" about="#mwt437"><a rel="mw:WikiLink" href="./simple#English" title="simple">simple</a></span><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r54857417" about="#mwt437" typeof="mw:Extension/templatestyles" data-mw='{"name":"templatestyles","attrs":{"src":"Module:etymology/style.css"},"body":{"extsrc":""}}'/></li></ul></li></ul>

<hr id="mwAj4"/>

</section></section></section><section data-mw-section-id="62" id="mwAj8"><h2 id="Romanian">Romanian</h2>

<section data-mw-section-id="63" id="mwAkA"><h3 id="Pronunciation_5">Pronunciation</h3>
<ul id="mwAkE"><li id="mwAkI"><a rel="mw:WikiLink" href="./Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet" about="#mwt440" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"IPA","href":"./Template:IPA"},"params":{"1":{"wt":"ro"},"2":{"wt":"[ˈsim.ple]"}},"i":0}}]}' id="mwAkM">IPA</a><sup about="#mwt440">(<a rel="mw:WikiLink" href="./Appendix:Romanian_pronunciation" title="Appendix:Romanian pronunciation">key</a>)</sup><span about="#mwt440">:</span><span typeof="mw:Entity" about="#mwt440"> </span><span class="IPA" about="#mwt440">[ˈsim.ple]</span><link rel="mw:PageProp/Category" href="./Category:Romanian_terms_with_IPA_pronunciation#SIMPLE" about="#mwt440" id="mwAkQ"/></li></ul>

</section><section data-mw-section-id="64" id="mwAkU"><h3 id="Adjective_13">Adjective</h3>
<p id="mwAkY"><strong class="Latn headword" lang="ro" about="#mwt441" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"head","href":"./Template:head"},"params":{"1":{"wt":"ro"},"2":{"wt":"adjective form"}},"i":0}}]}' id="mwAkc">simple</strong><link rel="mw:PageProp/Category" href="./Category:Romanian_non-lemma_forms#SIMPLE" about="#mwt441"/><link rel="mw:PageProp/Category" href="./Category:Romanian_adjective_forms#SIMPLE" about="#mwt441" id="mwAkg"/></p>

<ol id="mwAkk"><li id="mwAko"><span class="form-of-definition use-with-mention" about="#mwt442" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"inflection of","href":"./Template:inflection_of"},"params":{"1":{"wt":"ro"},"2":{"wt":"simplu"},"3":{"wt":""},"4":{"wt":"f//n"},"5":{"wt":"p"},"6":{"wt":"nom//acc"}},"i":0}}]}' id="mwAks"><span class="inflection-of-conjoined"><a rel="mw:WikiLink" href="./Appendix:Glossary#gender" title="Appendix:Glossary">feminine</a><span class="inflection-of-sep">/</span><a rel="mw:WikiLink" href="./Appendix:Glossary#gender" title="Appendix:Glossary">neuter</a></span> <a rel="mw:WikiLink" href="./Appendix:Glossary#plural_number" title="Appendix:Glossary">plural</a> <span class="inflection-of-conjoined"><a rel="mw:WikiLink" href="./Appendix:Glossary#nominative_case" title="Appendix:Glossary">nominative</a><span class="inflection-of-sep">/</span><a rel="mw:WikiLink" href="./Appendix:Glossary#accusative_case" title="Appendix:Glossary">accusative</a></span> of <span class="form-of-definition-link"><i class="Latn mention" lang="ro"><a rel="mw:WikiLink" href="./simplu#Romanian" title="simplu">simplu</a></i></span></span></li></ol>

<hr id="mwAkw"/>

</section></section><section data-mw-section-id="65" id="mwAk0"><h2 id="Spanish">Spanish</h2>
<span about="#mwt443" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"number box","href":"./Template:number_box"},"params":{"1":{"wt":"es"},"2":{"wt":"1"}},"i":0}}]}' id="mwAk4">
</span><table class="floatright" cellpadding="5" cellspacing="0" style="background: #ffffff; border: 1px #aaa solid; border-collapse: collapse; margin-top: .5em;" rules="all" about="#mwt443"> 
<caption><b><a rel="mw:WikiLink" href="./Appendix:Spanish_numerals" title="Appendix:Spanish numerals">Spanish numbers</a> <sup>(<span class="plainlinks"><a rel="mw:ExtLink" href="//en.wiktionary.org/w/index.php?title=Module%3Anumber_list%2Fdata%2Fes&amp;action=edit" class="external text">edit</a></span>)</sup></b></caption>
<tbody><tr style="text-align: center; background:#dddddd;">
<td></td>
<td style="font-size:smaller;"><span class="None" lang="es"><a rel="mw:WikiLink" href="./décuplo#Spanish" title="décuplo">10</a></span></td>
<td></td></tr>
<tr style="text-align: center;">
<td style="min-width: 6em; font-size:smaller; background:#dddddd;"></td>
<th style="min-width: 6em; font-size:larger;">1</th>
<td style="min-width: 6em; font-size:smaller; background:#dddddd;"><a rel="mw:WikiLink" href="./doble#Spanish" title="doble">2<span typeof="mw:Entity"> </span><span typeof="mw:Entity"> </span>→<span typeof="mw:Entity"> </span></a></td></tr>
<tr>
<td colspan="3"><span typeof="mw:Entity"> </span><span typeof="mw:Entity"> </span><span typeof="mw:Entity"> </span> <i><a rel="mw:WikiLink" href="./cardinal_number" title="cardinal number">Cardinal</a></i>: <span class="Latn" lang="es"><a rel="mw:WikiLink" href="./uno#Spanish" title="uno">uno</a></span><br/> <span typeof="mw:Entity"> </span><span typeof="mw:Entity"> </span><span typeof="mw:Entity"> </span> <i><a rel="mw:WikiLink" href="./ordinal_number" title="ordinal number">Ordinal</a></i>: <span class="Latn" lang="es"><a rel="mw:WikiLink" href="./primero#Spanish" title="primero">primero</a></span><br/> <span typeof="mw:Entity"> </span><span typeof="mw:Entity"> </span><span typeof="mw:Entity"> </span> <i><b><a rel="mw:WikiLink" href="./multiplier" title="multiplier">Multiplier</a></b></i>: <span class="Latn" lang="es"><strong class="selflink">simple</strong></span></td></tr>
</tbody></table>

<section data-mw-section-id="66" id="mwAk8"><h3 id="Etymology_9">Etymology</h3>
<p id="mwAlA">Borrowed from <span class="etyl" about="#mwt444" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"bor","href":"./Template:bor"},"params":{"1":{"wt":"es"},"2":{"wt":"la"},"3":{"wt":"simplex"}},"i":0}}]}' id="mwAlE"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Latin" title="w:Latin" class="extiw">Latin</a><link rel="mw:PageProp/Category" href="./Category:Spanish_terms_borrowed_from_Latin#SIMPLE"/><link rel="mw:PageProp/Category" href="./Category:Spanish_terms_derived_from_Latin#SIMPLE"/></span><span about="#mwt444"> </span><i class="Latn mention" lang="la" about="#mwt444" id="mwAlI"><a rel="mw:WikiLink" href="./simplex#Latin" title="simplex">simplex</a></i>.</p>

</section><section data-mw-section-id="67" id="mwAlM"><h3 id="Pronunciation_6">Pronunciation</h3>
<span about="#mwt445" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"es-IPA","href":"./Template:es-IPA"},"params":{},"i":0}},"\n* ",{"template":{"target":{"wt":"audio","href":"./Template:audio"},"params":{"1":{"wt":"es"},"2":{"wt":"LL-Q1321 (spa)-AdrianAbdulBaha-simple.wav"},"3":{"wt":"Audio (Colombia)"}},"i":1}}]}' id="mwAlQ">
</span><ul about="#mwt445"><li><a rel="mw:WikiLink" href="./Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet">IPA</a><sup>(<a rel="mw:WikiLink" href="./Appendix:Spanish_pronunciation" title="Appendix:Spanish pronunciation">key</a>)</sup>:<span typeof="mw:Entity"> </span><span class="IPA">/ˈsimple/</span>, <span class="IPA">[ˈsĩm.ple]</span><link rel="mw:PageProp/Category" href="./Category:Spanish_2-syllable_words"/><link rel="mw:PageProp/Category" href="./Category:Spanish_terms_with_IPA_pronunciation#SIMPLE"/></li>
<li><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r50165410" about="#mwt448" typeof="mw:Extension/templatestyles" data-mw='{"name":"templatestyles","attrs":{"src":"audio/styles.css"}}'/><table class="audiotable" style="vertical-align: bottom; display:inline-block; list-style:none;line-height: 1em; border-collapse:collapse;"><tbody><tr><td class="unicode audiolink" style="padding-right:5px; padding-left: 0;">Audio (Colombia)</td><td class="audiofile"><span typeof="mw:Audio" class="mw-default-audio-height" data-mw='{"caption":"noicon"}'><span><audio controls="" preload="none" height="32" width="175" resource="./File:LL-Q1321_(spa)-AdrianAbdulBaha-simple.wav"><source src="//upload.wikimedia.org/wikipedia/commons/3/3b/LL-Q1321_%28spa%29-AdrianAbdulBaha-simple.wav" type="audio/wav" data-title="Original WAV file (768 kbps)" data-shorttitle="WAV source"/><source src="//upload.wikimedia.org/wikipedia/commons/transcoded/3/3b/LL-Q1321_%28spa%29-AdrianAbdulBaha-simple.wav/LL-Q1321_%28spa%29-AdrianAbdulBaha-simple.wav.mp3" type="audio/mpeg" data-title="MP3" data-shorttitle="MP3"/><source src="//upload.wikimedia.org/wikipedia/commons/transcoded/3/3b/LL-Q1321_%28spa%29-AdrianAbdulBaha-simple.wav/LL-Q1321_%28spa%29-AdrianAbdulBaha-simple.wav.ogg" type='audio/ogg; codecs="vorbis"' data-title="Ogg Vorbis" data-shorttitle="Ogg Vorbis"/></audio></span></span></td><td class="audiometa" style="font-size: 80%;">(<a rel="mw:WikiLink" href="./File:LL-Q1321_(spa)-AdrianAbdulBaha-simple.wav" title="File:LL-Q1321 (spa)-AdrianAbdulBaha-simple.wav">file</a>)</td></tr></tbody></table><link rel="mw:PageProp/Category" href="./Category:Spanish_terms_with_audio_links#SIMPLE"/></li></ul>

</section><section data-mw-section-id="68" id="mwAlU"><h3 id="Adjective_14">Adjective</h3>
<p id="mwAlY"><strong class="Latn headword" lang="es" about="#mwt449" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"es-adj","href":"./Template:es-adj"},"params":{},"i":0}}]}' id="mwAlc">simple</strong><span about="#mwt449"> (</span><i about="#mwt449">plural</i><span about="#mwt449"> </span><b class="Latn form-of lang-es p-form-of        " lang="es" about="#mwt449"><a rel="mw:WikiLink" href="./simples#Spanish" title="simples">simples</a></b><span about="#mwt449">)</span><link rel="mw:PageProp/Category" href="./Category:Spanish_lemmas#SIMPLE" about="#mwt449"/><link rel="mw:PageProp/Category" href="./Category:Spanish_adjectives#SIMPLE" about="#mwt449" id="mwAlg"/></p>

<ol id="mwAlk"><li id="mwAlo"><a rel="mw:WikiLink" href="./simple#English" id="mwAls">simple</a> <span class="gloss-brac" about="#mwt450" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"gloss","href":"./Template:gloss"},"params":{"1":{"wt":"uncomplicated"}},"i":0}}]}' id="mwAlw">(</span><span class="gloss-content" about="#mwt450">uncomplicated</span><span class="gloss-brac" about="#mwt450" id="mwAl0">)</span>
<dl id="mwAl4"><dd id="mwAl8"><span class="nyms synonym" about="#mwt451" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"syn","href":"./Template:syn"},"params":{"1":{"wt":"es"},"2":{"wt":"sencillo"}},"i":0}}]}' id="mwAmA"><span class="defdate">Synonym:</span> <span class="Latn" lang="es"><a rel="mw:WikiLink" href="./sencillo#Spanish" title="sencillo">sencillo</a></span></span></dd>
<dd id="mwAmE"><span class="nyms antonym" about="#mwt452" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"ant","href":"./Template:ant"},"params":{"1":{"wt":"es"},"2":{"wt":"complejo"}},"i":0}}]}' id="mwAmI"><span class="defdate">Antonym:</span> <span class="Latn" lang="es"><a rel="mw:WikiLink" href="./complejo#Spanish" title="complejo">complejo</a></span></span></dd></dl></li>
<li id="mwAmM"><span class="ib-brac" about="#mwt453" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"lb","href":"./Template:lb"},"params":{"1":{"wt":"es"},"2":{"wt":"before the noun"}},"i":0}}]}' id="mwAmQ">(</span><span class="ib-content" about="#mwt453">before the noun</span><span class="ib-brac" about="#mwt453" id="mwAmU">)</span> <a rel="mw:WikiLink" href="./mere" title="mere" id="mwAmY">mere</a>, <a rel="mw:WikiLink" href="./ordinary" title="ordinary" id="mwAmc">ordinary</a>
<dl id="mwAmg"><dd id="mwAmk"><span class="nyms synonym" about="#mwt454" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"syn","href":"./Template:syn"},"params":{"1":{"wt":"es"},"2":{"wt":"mero"}},"i":0}}]}' id="mwAmo"><span class="defdate">Synonym:</span> <span class="Latn" lang="es"><a rel="mw:WikiLink" href="./mero#Spanish" title="mero">mero</a></span></span></dd>
<dd id="mwAms"><div class="h-usage-example" about="#mwt455" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"uxi","href":"./Template:uxi"},"params":{"1":{"wt":"es"},"2":{"wt":"Soy un simple pescador."},"3":{"wt":"I&apos;m just a fisherman."}},"i":0}}]}' id="mwAmw"><i class="Latn mention e-example" lang="es">Soy un simple pescador.</i> ― <span class="e-translation">I'm just a fisherman.</span></div><link rel="mw:PageProp/Category" href="./Category:Spanish_terms_with_usage_examples#SIMPLE" about="#mwt455" id="mwAm0"/></dd></dl></li>
<li id="mwAm4"><a rel="mw:WikiLink" href="./simple#English" id="mwAm8">simple</a>, <a rel="mw:WikiLink" href="./single" title="single" id="mwAnA">single</a> <span class="gloss-brac" about="#mwt456" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"gloss","href":"./Template:gloss"},"params":{"1":{"wt":"not divided into parts"}},"i":0}}]}' id="mwAnE">(</span><span class="gloss-content" about="#mwt456">not divided into parts</span><span class="gloss-brac" about="#mwt456" id="mwAnI">)</span>
<dl id="mwAnM"><dd id="mwAnQ"><span class="nyms antonym" about="#mwt457" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"ant","href":"./Template:ant"},"params":{"1":{"wt":"es"},"2":{"wt":"compuesto"}},"i":0}}]}' id="mwAnU"><span class="defdate">Antonym:</span> <span class="Latn" lang="es"><a rel="mw:WikiLink" href="./compuesto#Spanish" title="compuesto">compuesto</a></span></span></dd></dl></li>
<li id="mwAnY"><a rel="mw:WikiLink" href="./simple-minded" title="simple-minded" id="mwAnc">simple-minded</a>, <a rel="mw:WikiLink" href="./stupid" title="stupid" id="mwAng">stupid</a></li>
<li id="mwAnk"><a rel="mw:WikiLink" href="./insipid" title="insipid" id="mwAno">insipid</a>, <a rel="mw:WikiLink" href="./flavorless" title="flavorless" id="mwAns">flavorless</a>
<dl id="mwAnw"><dd id="mwAn0"><span class="nyms synonym" about="#mwt458" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"syn","href":"./Template:syn"},"params":{"1":{"wt":"es"},"2":{"wt":"soso"}},"i":0}}]}' id="mwAn4"><span class="defdate">Synonym:</span> <span class="Latn" lang="es"><a rel="mw:WikiLink" href="./soso#Spanish" title="soso">soso</a></span></span></dd></dl></li>
<li id="mwAn8"><span class="ib-brac" about="#mwt459" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"lb","href":"./Template:lb"},"params":{"1":{"wt":"es"},"2":{"wt":"grammar"}},"i":0}}]}' id="mwAoA">(</span><span class="ib-content" about="#mwt459"><a rel="mw:WikiLink" href="./grammar" title="grammar">grammar</a><link rel="mw:PageProp/Category" href="./Category:es:Grammar#SIMPLE"/></span><span class="ib-brac" about="#mwt459" id="mwAoE">)</span> <a rel="mw:WikiLink" href="./simple#English" id="mwAoI">simple</a></li></ol>

<section data-mw-section-id="69" id="mwAoM"><h4 id="Usage_notes_2">Usage notes</h4>
<p id="mwAoQ">A way to think of the difference between <i id="mwAoU">simple</i> and <i class="Latn mention" lang="es" about="#mwt460" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"m","href":"./Template:m"},"params":{"1":{"wt":"es"},"2":{"wt":"sencillo"}},"i":0}}]}' id="mwAoY"><a rel="mw:WikiLink" href="./sencillo#Spanish" title="sencillo">sencillo</a></i>, which both mean "simple" in English, is that the antonym of <i id="mwAoc">simple</i> is <i class="Latn mention" lang="es" about="#mwt461" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"m","href":"./Template:m"},"params":{"1":{"wt":"es"},"2":{"wt":"complejo"},"3":{"wt":""},"4":{"wt":"complex"}},"i":0}}]}' id="mwAog"><a rel="mw:WikiLink" href="./complejo#Spanish" title="complejo">complejo</a></i><span about="#mwt461"> </span><span class="mention-gloss-paren annotation-paren" about="#mwt461">(</span><span class="mention-gloss-double-quote" about="#mwt461">“</span><span class="mention-gloss" about="#mwt461">complex</span><span class="mention-gloss-double-quote" about="#mwt461">”</span><span class="mention-gloss-paren annotation-paren" about="#mwt461" id="mwAok">)</span>, whereas the antonym of <i id="mwAoo">sencillo</i> is <i class="Latn mention" lang="es" about="#mwt462" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"m","href":"./Template:m"},"params":{"1":{"wt":"es"},"2":{"wt":"complicado"},"3":{"wt":""},"4":{"wt":"complicated"}},"i":0}}]}' id="mwAos"><a rel="mw:WikiLink" href="./complicado#Spanish" title="complicado">complicado</a></i><span about="#mwt462"> </span><span class="mention-gloss-paren annotation-paren" about="#mwt462">(</span><span class="mention-gloss-double-quote" about="#mwt462">“</span><span class="mention-gloss" about="#mwt462">complicated</span><span class="mention-gloss-double-quote" about="#mwt462">”</span><span class="mention-gloss-paren annotation-paren" about="#mwt462" id="mwAow">)</span>.</p>

</section><section data-mw-section-id="70" id="mwAo0"><h4 id="Derived_terms_5">Derived terms</h4>
<div class="list-switcher" data-toggle-category="derived terms" about="#mwt463" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"col4","href":"./Template:col4"},"params":{"1":{"wt":"es\n"},"2":{"wt":"a simple vista\n"},"3":{"wt":"comillas simples\n"},"4":{"wt":"futuro simple\n"},"5":{"wt":"máquina simple\n"},"6":{"wt":"movimiento armónico simple\n"},"7":{"wt":"oración simple\n"},"8":{"wt":"{{l|es|simple y llanamente||plain and simple}}\n"},"9":{"wt":"simplemente\n"}},"i":0}}]}' id="mwAo4"><div class="derivedterms term-list ul-column-count" data-column-count="4" style="background-color: #F8F8FF;">
<ul><li><span class="Latn" lang="es"><a rel="mw:WikiLink" href="./a_simple_vista#Spanish" title="a simple vista">a simple vista</a></span></li>
<li><span class="Latn" lang="es"><a rel="mw:WikiLink" href="./comillas_simples#Spanish" title="comillas simples">comillas simples</a></span></li>
<li><span class="Latn" lang="es"><a rel="mw:WikiLink" href="./futuro_simple#Spanish" title="futuro simple">futuro simple</a></span></li>
<li><span class="Latn" lang="es"><a rel="mw:WikiLink" href="./máquina_simple#Spanish" title="máquina simple">máquina simple</a></span></li>
<li><span class="Latn" lang="es"><a rel="mw:WikiLink" href="./movimiento_armónico_simple#Spanish" title="movimiento armónico simple">movimiento armónico simple</a></span></li>
<li><span class="Latn" lang="es"><a rel="mw:WikiLink" href="./oración_simple#Spanish" title="oración simple">oración simple</a></span></li>
<li><span class="Latn" lang="es"><a rel="mw:WikiLink" href="./simplemente#Spanish" title="simplemente">simplemente</a></span></li>
<li><span class="Latn" lang="es"><a rel="mw:WikiLink" href="./simple_y_llanamente#Spanish" title="simple y llanamente" class="new">simple y llanamente</a></span> <span class="mention-gloss-paren annotation-paren">(</span><span class="mention-gloss-double-quote">“</span><span class="mention-gloss">plain and simple</span><span class="mention-gloss-double-quote">”</span><span class="mention-gloss-paren annotation-paren">)</span><link rel="mw:PageProp/Category" href="./Category:Spanish_redlinks"/><link rel="mw:PageProp/Category" href="./Category:Spanish_redlinks/l"/></li></ul></div><div class="list-switcher-element" data-showtext=" show more ▼ " data-hidetext=" show less ▲ " style="display: none;"><span typeof="mw:Entity"> </span></div></div>

</section><section data-mw-section-id="71" id="mwAo8"><h4 id="Descendants_3">Descendants</h4>
<ul id="mwApA"><li id="mwApE"><span about="#mwt464" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"desc","href":"./Template:desc"},"params":{"1":{"wt":"cbk"},"2":{"wt":"simple"}},"i":0}}]}' id="mwApI">Chavacano: </span><span class="Latn" lang="cbk" about="#mwt464"><a rel="mw:WikiLink" href="./simple#Chavacano" title="simple">simple</a></span><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r54857417" about="#mwt464" typeof="mw:Extension/templatestyles" data-mw='{"name":"templatestyles","attrs":{"src":"Module:etymology/style.css"},"body":{"extsrc":""}}'/></li></ul>

</section></section><section data-mw-section-id="72" id="mwApM"><h3 id="Noun_4">Noun</h3>
<p id="mwApQ"><strong class="Latn headword" lang="es" about="#mwt467" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"es-noun","href":"./Template:es-noun"},"params":{"1":{"wt":"mf"}},"i":0}}]}' id="mwApU">simple</strong><span typeof="mw:Entity" about="#mwt467"> </span><span class="gender" about="#mwt467"><abbr title="masculine gender">m</abbr> or <abbr title="feminine gender">f</abbr></span><span about="#mwt467"> (</span><i about="#mwt467">plural</i><span about="#mwt467"> </span><b class="Latn form-of lang-es p-form-of        " lang="es" about="#mwt467"><a rel="mw:WikiLink" href="./simples#Spanish" title="simples">simples</a></b><span about="#mwt467">)</span><link rel="mw:PageProp/Category" href="./Category:Spanish_lemmas#SIMPLE" about="#mwt467"/><link rel="mw:PageProp/Category" href="./Category:Spanish_nouns#SIMPLE" about="#mwt467"/><link rel="mw:PageProp/Category" href="./Category:Spanish_countable_nouns#SIMPLE" about="#mwt467"/><link rel="mw:PageProp/Category" href="./Category:Spanish_masculine_nouns#SIMPLE" about="#mwt467"/><link rel="mw:PageProp/Category" href="./Category:Spanish_feminine_nouns#SIMPLE" about="#mwt467"/><link rel="mw:PageProp/Category" href="./Category:Spanish_nouns_with_multiple_genders#SIMPLE" about="#mwt467" id="mwApY"/></p>

<ol id="mwApc"><li id="mwApg"><a rel="mw:WikiLink" href="./simpleton" title="simpleton" id="mwApk">simpleton</a>, <a rel="mw:WikiLink" href="./fool" title="fool" id="mwApo">fool</a></li>
<li id="mwAps"><span class="ib-brac" about="#mwt468" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"lb","href":"./Template:lb"},"params":{"1":{"wt":"es"},"2":{"wt":"pharmacology"},"3":{"wt":"masculine only"}},"i":0}}]}' id="mwApw">(</span><span class="ib-content" about="#mwt468"><a rel="mw:WikiLink" href="./pharmacology" title="pharmacology">pharmacology</a><link rel="mw:PageProp/Category" href="./Category:es:Pharmacology#SIMPLE"/><span class="ib-comma">,</span><span typeof="mw:Entity"> </span>masculine only</span><span class="ib-brac" about="#mwt468" id="mwAp0">)</span> <a rel="mw:WikiLink" href="./simple#English" id="mwAp4">simple</a></li></ol>

<section data-mw-section-id="73" id="mwAp8"><h4 id="See_also">See also</h4>
<ul id="mwAqA"><li id="mwAqE"><span class="Latn" lang="en" about="#mwt469" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"l","href":"./Template:l"},"params":{"1":{"wt":"en"},"2":{"wt":"más simple que el mecanismo de un botijo"}},"i":0}}]}' id="mwAqI"><a rel="mw:WikiLink" href="./más_simple_que_el_mecanismo_de_un_botijo#English" title="más simple que el mecanismo de un botijo" class="new">más simple que el mecanismo de un botijo</a></span></li></ul>

</section></section><section data-mw-section-id="74" id="mwAqM"><h3 id="Further_reading_3">Further reading</h3>
<ul id="mwAqQ"><li id="mwAqU"><span about="#mwt470" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"R:DRAE","href":"./Template:R:DRAE"},"params":{},"i":0}}]}' id="mwAqY">“</span><a rel="mw:ExtLink" href="https://dle.rae.es/simple?m=form" about="#mwt470" class="external text">simple</a><span about="#mwt470">” in </span><i about="#mwt470"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Diccionario%20de%20la%20lengua%20española" title="w:Diccionario de la lengua española" class="extiw">Diccionario de la lengua española</a>, Vigésima tercera edición</i><span about="#mwt470">, Real Academia Española, 2014.</span></li></ul>

<hr id="mwAqc"/>

</section></section><section data-mw-section-id="75" id="mwAqg"><h2 id="Swedish">Swedish</h2>

<section data-mw-section-id="76" id="mwAqk"><h3 id="Adjective_15">Adjective</h3>
<p id="mwAqo"><strong class="Latn headword" lang="sv" about="#mwt471" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"head","href":"./Template:head"},"params":{"1":{"wt":"sv"},"2":{"wt":"adjective form"}},"i":0}}]}' id="mwAqs">simple</strong><link rel="mw:PageProp/Category" href="./Category:Swedish_non-lemma_forms#SIMPLE" about="#mwt471"/><link rel="mw:PageProp/Category" href="./Category:Swedish_adjective_forms#SIMPLE" about="#mwt471" id="mwAqw"/></p>

<ol id="mwAq0"><li id="mwAq4"><span class="form-of-definition use-with-mention" about="#mwt472" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"sv-adj-form-abs-def-m","href":"./Template:sv-adj-form-abs-def-m"},"params":{"1":{"wt":"simpel"}},"i":0}}]}' id="mwAq8"><a rel="mw:WikiLink" href="./absolute" title="absolute">absolute</a> <a rel="mw:WikiLink" href="./Appendix:Glossary#definite" title="Appendix:Glossary">definite</a> <a rel="mw:WikiLink" href="./Appendix:Glossary#gender" title="Appendix:Glossary">natural masculine</a> <a rel="mw:WikiLink" href="./Appendix:Glossary#singular_number" title="Appendix:Glossary">singular</a> of <span class="form-of-definition-link"><i class="Latn mention" lang="sv"><a rel="mw:WikiLink" href="./simpel#Swedish" title="simpel">simpel</a></i></span></span><span about="#mwt472">.</span><link rel="mw:PageProp/Category" href="./Category:Swedish_adjective_forms" about="#mwt472" id="mwArA"/></li></ol>

</section><section data-mw-section-id="77" id="mwArE"><h3 id="Anagrams_3">Anagrams</h3>
<ul id="mwArI"><li id="mwArM"><span class="Latn" lang="sv" about="#mwt473" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"anagrams","href":"./Template:anagrams"},"params":{"1":{"wt":"sv"},"a":{"wt":"eilmps"},"2":{"wt":"simpel"}},"i":0}}]}' id="mwArQ"><a rel="mw:WikiLink" href="./simpel#Swedish" title="simpel">simpel</a></span></li></ul>

<hr id="mwArU"/>

</section></section><section data-mw-section-id="78" id="mwArY"><h2 id="Tagalog">Tagalog</h2>

<section data-mw-section-id="79" id="mwArc"><h3 id="Etymology_10">Etymology</h3>
<p id="mwArg">Borrowed from <span class="etyl" about="#mwt474" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"bor","href":"./Template:bor"},"params":{"1":{"wt":"tl"},"2":{"wt":"es"},"3":{"wt":"simple"}},"i":0}}]}' id="mwArk"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Spanish%20language" title="w:Spanish language" class="extiw">Spanish</a><link rel="mw:PageProp/Category" href="./Category:Tagalog_terms_borrowed_from_Spanish#SIMPLE"/><link rel="mw:PageProp/Category" href="./Category:Tagalog_terms_derived_from_Spanish#SIMPLE"/></span><span about="#mwt474"> </span><i class="Latn mention" lang="es" about="#mwt474" id="mwAro"><a rel="mw:WikiLink" href="./simple#Spanish" title="simple">simple</a></i>.</p>

</section><section data-mw-section-id="80" id="mwArs"><h3 id="Pronunciation_7">Pronunciation</h3>
<ul id="mwArw"><li id="mwAr0"><span about="#mwt475" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"hyph","href":"./Template:hyph"},"params":{"1":{"wt":"tl"},"2":{"wt":"sim"},"3":{"wt":"ple"}},"i":0}}]}' id="mwAr4">Hyphenation: </span><span class="Latn" lang="tl" about="#mwt475" id="mwAr8">sim‧ple</span></li>
<li id="mwAsA"><a rel="mw:WikiLink" href="./Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet" about="#mwt476" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"tl-IPA","href":"./Template:tl-IPA"},"params":{},"i":0}}]}' id="mwAsE">IPA</a><sup about="#mwt476">(<a rel="mw:WikiLink" href="./Appendix:Tagalog_pronunciation" title="Appendix:Tagalog pronunciation">key</a>)</sup><span about="#mwt476">:</span><span typeof="mw:Entity" about="#mwt476"> </span><span class="IPA" about="#mwt476">/ˈsimple/</span><link rel="mw:PageProp/Category" href="./Category:Tagalog_terms_with_IPA_pronunciation#SIMPLE" about="#mwt476" id="mwAsI"/></li></ul>

</section><section data-mw-section-id="81" id="mwAsM"><h3 id="Adjective_16">Adjective</h3>
<p id="mwAsQ"><strong class="Latn headword" lang="tl" about="#mwt477" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"tl-adj","href":"./Template:tl-adj"},"params":{},"i":0}}]}' id="mwAsU">simple</strong><link rel="mw:PageProp/Category" href="./Category:Tagalog_lemmas#SIMPLE" about="#mwt477"/><link rel="mw:PageProp/Category" href="./Category:Tagalog_adjectives#SIMPLE" about="#mwt477" id="mwAsY"/></p>

<ol id="mwAsc"><li id="mwAsg"><span class="Latn" lang="en" about="#mwt478" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"l","href":"./Template:l"},"params":{"1":{"wt":"en"},"2":{"wt":"simple"}},"i":0}}]}' id="mwAsk"><a rel="mw:WikiLink" href="./simple#English" title="simple">simple</a></span>; <a rel="mw:WikiLink" href="./easy" title="easy" id="mwAso">easy</a> to <a rel="mw:WikiLink" href="./do" title="do" id="mwAss">do</a>
<dl id="mwAsw"><dd id="mwAs0"><span class="nyms synonym" about="#mwt479" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"syn","href":"./Template:syn"},"params":{"1":{"wt":"tl"},"2":{"wt":"payak"},"3":{"wt":"yano"},"4":{"wt":"liso"}},"i":0}}]}' id="mwAs4"><span class="defdate">Synonyms:</span> <span class="Latn" lang="tl"><a rel="mw:WikiLink" href="./payak#Tagalog" title="payak">payak</a></span>, <span class="Latn" lang="tl"><a rel="mw:WikiLink" href="./yano#Tagalog" title="yano">yano</a></span>, <span class="Latn" lang="tl"><a rel="mw:WikiLink" href="./liso#Tagalog" title="liso">liso</a></span></span></dd></dl>
<ul id="mwAs8"><li id="mwAtA"><div class="citation-whole" about="#mwt480" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"quote-book","href":"./Template:quote-book"},"params":{"1":{"wt":"tl"},"year":{"wt":"1994"},"author":{"wt":"Al O. Santiago"},"title":{"wt":"Sining ng pagsasaling-wika: sa Filipino mula sa Ingles"},"url":{"wt":"https://books.google.com/books?id=ufBHnk2ITxgC&amp;redir_esc=y"},"isbn":{"wt":"9712315509"},"text":{"wt":"&apos;&apos;&apos;Simpleng-simple&apos;&apos;&apos; rin ang aklat na ito kung ihahambing sa aklat ni Mildred Larson."},"t":{"wt":"This book is also &apos;&apos;&apos;very simple&apos;&apos;&apos; compared to the book of Mildred Larson."}},"i":0}}]}' id="mwAtE"><span class="cited-source"><b>1994</b>,  Al O. Santiago,  <cite>Sining ng pagsasaling-wika: sa Filipino mula sa Ingles</cite><span typeof="mw:Entity">‎</span><sup><a rel="mw:ExtLink" href="https://books.google.com/books?id=ufBHnk2ITxgC&amp;redir_esc=y" class="external autonumber"></a></sup>, <small><a rel="mw:WikiLink" href="./Special:BookSources/9712315509" title="Special:BookSources/9712315509">→ISBN</a></small>:<link rel="mw:PageProp/Category" href="./Category:Tagalog_terms_with_quotations#SIMPLE"/></span><dl><dd><div class="h-quotation"><span class="Latn e-quotation" lang="tl"><b>Simpleng-simple</b> rin ang aklat na ito kung ihahambing sa aklat ni Mildred Larson.</span><dl><dd><span class="e-translation">This book is also <b>very simple</b> compared to the book of Mildred Larson.</span></dd></dl></div></dd></dl></div></li>
<li id="mwAtI"><div class="citation-whole" about="#mwt481" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"quote-book","href":"./Template:quote-book"},"params":{"1":{"wt":"tl"},"year":{"wt":"2002"},"title":{"wt":"Yaman Ng Pagkatao i Tm&apos; 2002 Ed."},"publisher":{"wt":"Rex Bookstore, Inc."},"url":{"wt":"https://books.google.com/books?id=JwbAtIzGuboC&amp;redir_esc=y"},"isbn":{"wt":"9712332160"},"page":{"wt":"173"},"text":{"wt":"Ang boluntaryong pagpili ng &apos;&apos;&apos;simpleng&apos;&apos;&apos; pamumuhay ay isang desisyong maaari nating maisakatuparan."},"t":{"wt":"The voluntary choice of a &apos;&apos;&apos;simple&apos;&apos;&apos; life is a decision that we can carry out."}},"i":0}}]}' id="mwAtM"><span class="cited-source"><b>2002</b>,  <cite>Yaman Ng Pagkatao i Tm' 2002 Ed.</cite><span typeof="mw:Entity">‎</span><sup><a rel="mw:ExtLink" href="https://books.google.com/books?id=JwbAtIzGuboC&amp;redir_esc=y" class="external autonumber"></a></sup>, Rex Bookstore, Inc., <small><a rel="mw:WikiLink" href="./Special:BookSources/9712332160" title="Special:BookSources/9712332160">→ISBN</a></small>, page 173:<link rel="mw:PageProp/Category" href="./Category:Tagalog_terms_with_quotations#SIMPLE"/></span><dl><dd><div class="h-quotation"><span class="Latn e-quotation" lang="tl">Ang boluntaryong pagpili ng <b>simpleng</b> pamumuhay ay isang desisyong maaari nating maisakatuparan.</span><dl><dd><span class="e-translation">The voluntary choice of a <b>simple</b> life is a decision that we can carry out.</span></dd></dl></div></dd></dl></div></li></ul></li>
<li id="mwAtQ"><a rel="mw:WikiLink" href="./common" title="common" id="mwAtU">common</a>; <a rel="mw:WikiLink" href="./ordinary" title="ordinary" id="mwAtY">ordinary</a>
<dl id="mwAtc"><dd id="mwAtg"><span class="nyms synonym" about="#mwt482" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"syn","href":"./Template:syn"},"params":{"1":{"wt":"tl"},"2":{"wt":"karaniwan"},"3":{"wt":"pangkaraniwan"}},"i":0}}]}' id="mwAtk"><span class="defdate">Synonyms:</span> <span class="Latn" lang="tl"><a rel="mw:WikiLink" href="./karaniwan#Tagalog" title="karaniwan" class="new">karaniwan</a></span>, <span class="Latn" lang="tl"><a rel="mw:WikiLink" href="./pangkaraniwan#Tagalog" title="pangkaraniwan">pangkaraniwan</a></span></span></dd></dl></li>
<li id="mwAto"><a rel="mw:WikiLink" href="./easy" title="easy" id="mwAts">easy</a> to <a rel="mw:WikiLink" href="./understand" title="understand" id="mwAtw">understand</a></li>
<li id="mwAt0"><span class="Latn" lang="en" about="#mwt483" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"l","href":"./Template:l"},"params":{"1":{"wt":"en"},"2":{"wt":"simple"}},"i":0}}]}' id="mwAt4"><a rel="mw:WikiLink" href="./simple#English" title="simple">simple</a></span>; <a rel="mw:WikiLink" href="./plain" title="plain" id="mwAt8">plain</a>
<dl id="mwAuA"><dd id="mwAuE"><span class="nyms synonym" about="#mwt484" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"syn","href":"./Template:syn"},"params":{"1":{"wt":"tl"},"2":{"wt":"payak"}},"i":0}}]}' id="mwAuI"><span class="defdate">Synonym:</span> <span class="Latn" lang="tl"><a rel="mw:WikiLink" href="./payak#Tagalog" title="payak">payak</a></span></span></dd></dl></li>
<li id="mwAuM"><span class="ib-brac" about="#mwt485" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"lb","href":"./Template:lb"},"params":{"1":{"wt":"tl"},"2":{"wt":"grammar"}},"i":0}}]}' id="mwAuQ">(</span><span class="ib-content" about="#mwt485"><a rel="mw:WikiLink" href="./grammar" title="grammar">grammar</a><link rel="mw:PageProp/Category" href="./Category:tl:Grammar#SIMPLE"/></span><span class="ib-brac" about="#mwt485" id="mwAuU">)</span> <span class="Latn" lang="en" about="#mwt486" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"l","href":"./Template:l"},"params":{"1":{"wt":"en"},"2":{"wt":"simple"}},"i":0}}]}' id="mwAuY"><a rel="mw:WikiLink" href="./simple#English" title="simple">simple</a></span>
<dl id="mwAuc"><dd id="mwAug"><span class="nyms synonym" about="#mwt487" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"syn","href":"./Template:syn"},"params":{"1":{"wt":"tl"},"2":{"wt":"payak"}},"i":0}}]}' id="mwAuk"><span class="defdate">Synonym:</span> <span class="Latn" lang="tl"><a rel="mw:WikiLink" href="./payak#Tagalog" title="payak">payak</a></span></span></dd></dl></li></ol>

<section data-mw-section-id="82" id="mwAuo"><h4 id="Derived_terms_6">Derived terms</h4>
<div class="list-switcher" data-toggle-category="derived terms" about="#mwt488" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"der3","href":"./Template:der3"},"params":{"1":{"wt":"tl"},"2":{"wt":"simplehan"},"3":{"wt":"kasimplehan"},"4":{"wt":"pagkasimple"},"5":{"wt":"napakasimple"},"6":{"wt":"simplehin"},"7":{"wt":"magpakasimple"}},"i":0}}]}' id="mwAus"><div class="derivedterms term-list ul-column-count" data-column-count="3" style="background-color: #F8F8FF;">
<ul><li><span class="Latn" lang="tl"><a rel="mw:WikiLink" href="./kasimplehan#Tagalog" title="kasimplehan" class="new">kasimplehan</a></span></li>
<li><span class="Latn" lang="tl"><a rel="mw:WikiLink" href="./magpakasimple#Tagalog" title="magpakasimple" class="new">magpakasimple</a></span></li>
<li><span class="Latn" lang="tl"><a rel="mw:WikiLink" href="./napakasimple#Tagalog" title="napakasimple" class="new">napakasimple</a></span></li>
<li><span class="Latn" lang="tl"><a rel="mw:WikiLink" href="./pagkasimple#Tagalog" title="pagkasimple" class="new">pagkasimple</a></span></li>
<li><span class="Latn" lang="tl"><a rel="mw:WikiLink" href="./simplehan#Tagalog" title="simplehan" class="new">simplehan</a></span></li>
<li><span class="Latn" lang="tl"><a rel="mw:WikiLink" href="./simplehin#Tagalog" title="simplehin" class="new">simplehin</a></span></li></ul></div><div class="list-switcher-element" data-showtext=" show more ▼ " data-hidetext=" show less ▲ " style="display: none;"><span typeof="mw:Entity"> </span></div></div>

</section><section data-mw-section-id="83" id="mwAuw"><h4 id="Related_terms_3">Related terms</h4>
<ul id="mwAu0"><li id="mwAu4"><span class="Latn" lang="tl" about="#mwt489" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"l","href":"./Template:l"},"params":{"1":{"wt":"tl"},"2":{"wt":"simplipika"}},"i":0}}]}' id="mwAu8"><a rel="mw:WikiLink" href="./simplipika#Tagalog" title="simplipika" class="new">simplipika</a></span></li>
<li id="mwAvA"><span class="Latn" lang="tl" about="#mwt490" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"l","href":"./Template:l"},"params":{"1":{"wt":"tl"},"2":{"wt":"simplipikado"}},"i":0}}]}' id="mwAvE"><a rel="mw:WikiLink" href="./simplipikado#Tagalog" title="simplipikado" class="new">simplipikado</a></span></li>
<li id="mwAvI"><span class="Latn" lang="tl" about="#mwt491" typeof="mw:Transclusion" data-mw='{"parts":[{"template":{"target":{"wt":"l","href":"./Template:l"},"params":{"1":{"wt":"tl"},"2":{"wt":"simplisidad"}},"i":0}}]}' id="mwAvM"><a rel="mw:WikiLink" href="./simplisidad#Tagalog" title="simplisidad" class="new">simplisidad</a></span></li></ul></section></section></section></body></html>
