<h2 id="Chinese">Chinese</h2>
<section data-mw-section-id="7" id="mwMg">
 <h3 id="Glyph_1">Glyph 1</h3>
 <dl about="#mwt23" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;Han-glyphref&quot;,&quot;href&quot;:&quot;./Template:Han-glyphref&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;⿰答刂&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;&quot;}},&quot;i&quot;:0}}]}" id="mwMw">
  <dd>
   <i>This section refers to</i> <span class="Hani" lang="zh">⿰答刂</span> <i>glyph.</i>
   <link rel="mw:PageProp/Category" href="./Category:Chinese_Han_characters_with_glyph_variations_due_to_Han_unification">
  </dd>
 </dl>
 <section data-mw-section-id="8" id="mwNA">
  <h4 id="Glyph_origin">Glyph origin</h4><span about="#mwt24" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;Han etym&quot;,&quot;href&quot;:&quot;./Template:Han_etym&quot;},&quot;params&quot;:{},&quot;i&quot;:0}}]}" id="mwNQ"> </span>
  <div class="NavFrame" style="border:0px; max-width: 37em; text-align:center;" about="#mwt24" id="mwNg">
   <div class="NavHead" style="font-size:105%; border:1px solid #aaaaaa; margin-left:-1px; background-color:#CCCCFF; text-align:center;">
    Characters in the same <a rel="mw:WikiLink" href="./Wiktionary:About_Chinese/phonetic_series" title="Wiktionary:About Chinese/phonetic series">phonetic series</a> (<span class="Hani"><a rel="mw:WikiLink" href="./合" title="合">合</a></span>) <small>(<a rel="mw:WikiLink" href="./Wiktionary:About_Chinese/references" title="Wiktionary:About Chinese/references">Zhengzhang, 2003</a>)</small><span typeof="mw:Entity">&nbsp;</span>
   </div>
   <div class="NavContent">
    <table class="wikitable zh-glyph" style="margin-top: 0; width: 100%;">
     <tbody>
      <tr>
       <th align="center"></th>
       <th>Old Chinese</th>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./龕#Chinese" title="龕">龕</a></span></td>
       <td><small><span class="IPA">*kʰuːm</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./媕#Chinese" title="媕">媕</a></span></td>
       <td><small><span class="IPA">*quːm, *qromʔ, *qɯːm, *qramʔ, *qɯːb</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./頜#Chinese" title="頜">頜</a></span></td>
       <td><small><span class="IPA">*ɡuːmʔ, *kuːb</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./答#Chinese" title="答">答</a></span></td>
       <td><small><span class="IPA">*tkuːb</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./畣#Chinese" title="畣">畣</a></span></td>
       <td><small><span class="IPA">*tkuːb</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./荅#Chinese" title="荅">荅</a></span></td>
       <td><small><span class="IPA">*tkuːb</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./嗒#Chinese" title="嗒">嗒</a></span></td>
       <td><small><span class="IPA">*tuːb, *tʰoːb</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./褡#Chinese" title="褡">褡</a></span></td>
       <td><small><span class="IPA">*tuːb, *toːb</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./撘#Chinese" title="撘">撘</a></span></td>
       <td><small><span class="IPA">*tuːb</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./搭#Chinese" title="搭">搭</a></span></td>
       <td><small><span class="IPA">*tuːb, *tʰoːb</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./榙#Chinese" title="榙">榙</a></span></td>
       <td><small><span class="IPA">*tkuːb, *ɡuːb</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./佮#Chinese" title="佮">佮</a></span></td>
       <td><small><span class="IPA">*tkʰuːb, *kuːb, *quːb, *quːb</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./蛤#Chinese" title="蛤">蛤</a></span></td>
       <td><small><span class="IPA">*kuːb</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./鴿#Chinese" title="鴿">鴿</a></span></td>
       <td><small><span class="IPA">*kuːb</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./合#Chinese" title="合">合</a></span></td>
       <td><small><span class="IPA">*kuːb, *ɡuːb</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./郃#Chinese" title="郃">郃</a></span></td>
       <td><small><span class="IPA">*kuːb, *ɡuːb</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./匌#Chinese" title="匌">匌</a></span></td>
       <td><small><span class="IPA">*kuːb, *kʰuːb</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./鉿#Chinese" title="鉿">鉿</a></span></td>
       <td><small><span class="IPA">*kuːb</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./閤#Chinese" title="閤">閤</a></span></td>
       <td><small><span class="IPA">*kuːb</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./鞈#Chinese" title="鞈">鞈</a></span></td>
       <td><small><span class="IPA">*kuːb, *kruːb</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./韐#Chinese" title="韐">韐</a></span></td>
       <td><small><span class="IPA">*kuːb, *kruːb</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./鮯#Chinese" title="鮯">鮯</a></span></td>
       <td><small><span class="IPA">*kuːb</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./哈#Chinese" title="哈">哈</a></span></td>
       <td><small><span class="IPA">*ŋɡuːb</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./姶#Chinese" title="姶">姶</a></span></td>
       <td><small><span class="IPA">*quːb, *quːb</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./欱#Chinese" title="欱">欱</a></span></td>
       <td><small><span class="IPA">*qʰuːb, *qʰruːb</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./盒#Chinese" title="盒">盒</a></span></td>
       <td><small><span class="IPA">*ɡuːb</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./耠#Chinese" title="耠">耠</a></span></td>
       <td><small><span class="IPA">*ɡuːb</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./詥#Chinese" title="詥">詥</a></span></td>
       <td><small><span class="IPA">*ɡuːb</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./塔#Chinese" title="塔">塔</a></span></td>
       <td><small><span class="IPA">*tʰuːb</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./鞳#Chinese" title="鞳">鞳</a></span></td>
       <td><small><span class="IPA">*tʰoːb</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./劄#Chinese" title="劄">劄</a></span></td>
       <td><small><span class="IPA">*rtuːb</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./跲#Chinese" title="跲">跲</a></span></td>
       <td><small><span class="IPA">*kruːb, *kob, *ɡob</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./袷#Chinese" title="袷">袷</a></span></td>
       <td><small><span class="IPA">*kruːb, *ŋkob</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./餄#Chinese" title="餄">餄</a></span></td>
       <td><small><span class="IPA">*kruːb</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./恰#Chinese" title="恰">恰</a></span></td>
       <td><small><span class="IPA">*kʰruːb</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./帢#Chinese" title="帢">帢</a></span></td>
       <td><small><span class="IPA">*kʰruːb</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./洽#Chinese" title="洽">洽</a></span></td>
       <td><small><span class="IPA">*ɡruːb</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./祫#Chinese" title="祫">祫</a></span></td>
       <td><small><span class="IPA">*ɡruːb</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./珨#Chinese" title="珨">珨</a></span></td>
       <td><small><span class="IPA">*ɡruːb</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./烚#Chinese" title="烚">烚</a></span></td>
       <td><small><span class="IPA">*ɡruːb</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./歙#Chinese" title="歙">歙</a></span></td>
       <td><small><span class="IPA">*qʰjob, *qʰrub</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./湁#Chinese" title="湁">湁</a></span></td>
       <td><small><span class="IPA">*tkʰub</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./拾#Chinese" title="拾">拾</a></span></td>
       <td><small><span class="IPA">*ɡjub</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./給#Chinese" title="給">給</a></span></td>
       <td><small><span class="IPA">*krub</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./翕#Chinese" title="翕">翕</a></span></td>
       <td><small><span class="IPA">*qʰrub</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./噏#Chinese" title="噏">噏</a></span></td>
       <td><small><span class="IPA">*qʰrub</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./潝#Chinese" title="潝">潝</a></span></td>
       <td><small><span class="IPA">*qʰrub</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./熻#Chinese" title="熻">熻</a></span></td>
       <td><small><span class="IPA">*qʰrub</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./嬆#Chinese" title="嬆">嬆</a></span></td>
       <td><small><span class="IPA">*qʰrub</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./翖#Chinese" title="翖">翖</a></span></td>
       <td><small><span class="IPA">*qʰrub</span></small></td>
      </tr>
      <tr>
       <td align="center"><span class="Hani"><a rel="mw:WikiLink" href="./闟#Chinese" title="闟">闟</a></span></td>
       <td><small><span class="IPA">*qʰrub</span></small></td>
      </tr>
     </tbody>
    </table>
   </div>
  </div>
  <p id="mwNw"><a rel="mw:WikiLink" href="./phonosemantic" title="phonosemantic" about="#mwt25" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;Han compound&quot;,&quot;href&quot;:&quot;./Template:Han_compound&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;答&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;刂&quot;},&quot;c1&quot;:{&quot;wt&quot;:&quot;p&quot;},&quot;c2&quot;:{&quot;wt&quot;:&quot;s&quot;},&quot;t2&quot;:{&quot;wt&quot;:&quot;knife; blade&quot;},&quot;ls&quot;:{&quot;wt&quot;:&quot;psc&quot;}},&quot;i&quot;:0}}]}" id="mwOA">Phono-semantic</a><span about="#mwt25"> compound</span><span typeof="mw:Entity" about="#mwt25">&nbsp;</span><span about="#mwt25">(</span><i class="Hant mention" lang="zh" about="#mwt25"><a rel="mw:WikiLink" href="./形聲#Chinese" title="形聲">形聲</a></i><span about="#mwt25">, </span><span class="IPA" about="#mwt25"><span style="border-bottom: 1px dotted #000; cursor:help" title="Old Chinese">OC</span> *rtuːb</span><span about="#mwt25">) </span>
   <link rel="mw:PageProp/Category" href="./Category:Han_phono-semantic_compounds#刀12" about="#mwt25"><span about="#mwt25">:</span><span typeof="mw:Entity" about="#mwt25"> </span><span about="#mwt25">phonetic</span><span typeof="mw:Entity" about="#mwt25"> </span><i class="Hani mention" lang="zh" about="#mwt25"><a rel="mw:WikiLink" href="./答#Chinese" title="答">答</a></i><span about="#mwt25"> </span><span class="mention-gloss-paren annotation-paren" about="#mwt25">(</span><span lang="zh-Latn" class="mention-tr tr Latn" about="#mwt25"><span style="border-bottom: 1px dotted #000; cursor:help" title="Old Chinese">OC</span> *tkuːb</span><span class="mention-gloss-paren annotation-paren" about="#mwt25">)</span><span typeof="mw:Entity" about="#mwt25"> </span><span about="#mwt25">+</span><span typeof="mw:Entity" about="#mwt25"> </span><span about="#mwt25">semantic</span><span typeof="mw:Entity" about="#mwt25"> </span><i class="Hani mention" lang="zh" about="#mwt25"><a rel="mw:WikiLink" href="./刂#Chinese" title="刂">刂</a></i><span about="#mwt25"> </span><span class="mention-gloss-paren annotation-paren" about="#mwt25">(</span><span class="mention-gloss-double-quote" about="#mwt25">“</span><span class="mention-gloss" about="#mwt25">knife; blade</span><span class="mention-gloss-double-quote" about="#mwt25">”</span><span class="mention-gloss-paren annotation-paren" about="#mwt25" id="mwOQ">)</span>.</p>
  <p id="mwOg">Note that historical dictionaries such as <a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Yupian" title="w:Yupian" about="#mwt26" typeof="mw:Transclusion" class="extiw" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;w&quot;,&quot;href&quot;:&quot;./Template:w&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;Yupian&quot;}},&quot;i&quot;:0}}]}" id="mwOw">Yupian</a> 《<span class="Hani" lang="zh" about="#mwt27" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;lw&quot;,&quot;href&quot;:&quot;./Template:lw&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;zh&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;玉篇&quot;}},&quot;i&quot;:0}}]}" id="mwPA"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/zh:玉篇" title="w:zh:玉篇" class="extiw">玉篇</a></span><span about="#mwt27"> </span><span class="mention-gloss-paren annotation-paren" about="#mwt27">(</span><span lang="zh-Latn" class="tr Latn" about="#mwt27">Yùpiān</span><span class="mention-gloss-paren annotation-paren" about="#mwt27" id="mwPQ">)</span>》 (543 AD) and <a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Jiyun" title="w:Jiyun" about="#mwt28" typeof="mw:Transclusion" class="extiw" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;w&quot;,&quot;href&quot;:&quot;./Template:w&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;Jiyun&quot;}},&quot;i&quot;:0}}]}" id="mwPg">Jiyun</a> 《<span class="Hant" lang="zh" about="#mwt29" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;lw&quot;,&quot;href&quot;:&quot;./Template:lw&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;zh&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;集韻&quot;}},&quot;i&quot;:0}}]}" id="mwPw"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/zh:集韻" title="w:zh:集韻" class="extiw">集韻</a></span><span about="#mwt29"> </span><span class="mention-gloss-paren annotation-paren" about="#mwt29">(</span><span lang="zh-Latn" class="tr Latn" about="#mwt29">Jíyùn</span><span class="mention-gloss-paren annotation-paren" about="#mwt29" id="mwQA">)</span>》 (1039 AD) that predated the <a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Kangxi%20dictionary" title="w:Kangxi dictionary" about="#mwt30" typeof="mw:Transclusion" class="extiw" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;w&quot;,&quot;href&quot;:&quot;./Template:w&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;Kangxi dictionary&quot;}},&quot;i&quot;:0}}]}" id="mwQQ">Kangxi dictionary</a> (published 1716 AD) used this form.</p>
 </section>
 <section data-mw-section-id="9" id="mwQg">
  <h4 id="Etymology_1">Etymology 1</h4>
  <section data-mw-section-id="10" id="mwQw">
   <h5 id="Definitions">Definitions</h5>
   <table class="wikitable" style="border:1px solid #797979; margin-left: 1px; text-align:left; min-width:70%" about="#mwt31" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;zh-see&quot;,&quot;href&quot;:&quot;./Template:zh-see&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;札&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;v&quot;}},&quot;i&quot;:0}}]}" id="mwRA">
    <tbody>
     <tr>
      <td style="background-color: #eeeeee; padding-left: 0.5em"><b>For pronunciation and definitions of </b><span lang="zh" class="Hani"><a rel="mw:WikiLink" href="./劄#Chinese" title="劄">劄</a></span><b> – see <span lang="zh" class="Hani"><a rel="mw:WikiLink" href="./札#Chinese" title="札">札</a></span> (“<a rel="mw:WikiLink" href="./letter" title="letter">letter</a>; <a rel="mw:WikiLink" href="./note" title="note">note</a>; <a rel="mw:WikiLink" href="./correspondence" title="correspondence">correspondence</a>; etc.”).</b><br>
       (This character, <span lang="zh" class="Hani">劄</span>, is <i>a variant</i> form of <span lang="zh" class="Hani">札</span>.)</td>
     </tr>
    </tbody>
   </table>
   <link rel="mw:PageProp/Category" href="./Category:Chinese_variant_forms#刀12" about="#mwt31">
   <link rel="mw:PageProp/Category" href="./Category:Chinese_lemmas#刀12" about="#mwt31">
   <link rel="mw:PageProp/Category" href="./Category:Mandarin_lemmas#刀12" about="#mwt31">
   <link rel="mw:PageProp/Category" href="./Category:Cantonese_lemmas#刀12" about="#mwt31">
   <link rel="mw:PageProp/Category" href="./Category:Min_Dong_lemmas#刀12" about="#mwt31">
   <link rel="mw:PageProp/Category" href="./Category:Min_Nan_lemmas#刀12" about="#mwt31">
   <link rel="mw:PageProp/Category" href="./Category:Teochew_lemmas#刀12" about="#mwt31">
   <link rel="mw:PageProp/Category" href="./Category:Chinese_nouns#刀12" about="#mwt31">
   <link rel="mw:PageProp/Category" href="./Category:Mandarin_nouns#刀12" about="#mwt31">
   <link rel="mw:PageProp/Category" href="./Category:Cantonese_nouns#刀12" about="#mwt31">
   <link rel="mw:PageProp/Category" href="./Category:Min_Dong_nouns#刀12" about="#mwt31">
   <link rel="mw:PageProp/Category" href="./Category:Min_Nan_nouns#刀12" about="#mwt31">
   <link rel="mw:PageProp/Category" href="./Category:Teochew_nouns#刀12" about="#mwt31">
   <link rel="mw:PageProp/Category" href="./Category:Chinese_verbs#刀12" about="#mwt31">
   <link rel="mw:PageProp/Category" href="./Category:Mandarin_verbs#刀12" about="#mwt31">
   <link rel="mw:PageProp/Category" href="./Category:Cantonese_verbs#刀12" about="#mwt31">
   <link rel="mw:PageProp/Category" href="./Category:Min_Dong_verbs#刀12" about="#mwt31">
   <link rel="mw:PageProp/Category" href="./Category:Min_Nan_verbs#刀12" about="#mwt31">
   <link rel="mw:PageProp/Category" href="./Category:Teochew_verbs#刀12" about="#mwt31">
   <link rel="mw:PageProp/Category" href="./Category:Chinese_terms_with_IPA_pronunciation#刀12" about="#mwt31">
   <link rel="mw:PageProp/Category" href="./Category:Chinese_hanzi#刀12" about="#mwt31" id="mwRQ">
  </section>
  <section data-mw-section-id="11" id="mwRg">
   <h5 id="Usage_notes">Usage notes</h5>
   <p id="mwRw">This glyph form is considered a <a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Variant%20Chinese%20character" title="w:Variant Chinese character" about="#mwt32" typeof="mw:Transclusion" class="extiw" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;w&quot;,&quot;href&quot;:&quot;./Template:w&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;Variant Chinese character&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;variant form&quot;}},&quot;i&quot;:0}}]}" id="mwSA">variant form</a> of <span class="Hani" lang="zh" about="#mwt33" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;l&quot;,&quot;href&quot;:&quot;./Template:l&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;zh&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;札&quot;}},&quot;i&quot;:0}}]}" id="mwSQ"><a rel="mw:WikiLink" href="./札#Chinese" title="札">札</a></span><span about="#mwt33"> </span><span class="mention-gloss-paren annotation-paren" about="#mwt33">(</span><span lang="zh-Latn" class="tr Latn" about="#mwt33">zhá</span><span class="mention-gloss-paren annotation-paren" about="#mwt33" id="mwSg">)</span> in mainland China but not in Taiwan.</p><!-- Refer character 3532, https://zh.wikisource.org/wiki/通用規范漢字表 -->
  </section>
 </section>
 <section data-mw-section-id="12" id="mwSw">
  <h4 id="Etymology_2">Etymology 2</h4>
  <section data-mw-section-id="13" id="mwTA">
   <h5 id="Definitions_2">Definitions</h5>
   <table class="wikitable" style="border:1px solid #797979; margin-left: 1px; text-align:left; min-width:70%" about="#mwt34" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;zh-see&quot;,&quot;href&quot;:&quot;./Template:zh-see&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;箚&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;v&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;refer [[劄#Glyph 2|glyph 2]] below&quot;}},&quot;i&quot;:0}}]}" id="mwTQ">
    <tbody>
     <tr>
      <td style="background-color: #eeeeee; padding-left: 0.5em"><b>For pronunciation and definitions of </b><span lang="zh" class="Hani"><a rel="mw:WikiLink" href="./劄#Chinese" title="劄">劄</a></span><b> – see <span lang="zh" class="Hani"><a rel="mw:WikiLink" href="./箚#Chinese" title="箚">箚</a></span> (“refer <a rel="mw:WikiLink" href="./劄#Glyph_2" title="劄">glyph 2</a> below”).</b><br>
       (This character, <span lang="zh" class="Hani">劄</span>, is <i>a variant</i> form of <span lang="zh" class="Hani">箚</span>.)</td>
     </tr>
    </tbody>
   </table>
   <link rel="mw:PageProp/Category" href="./Category:Chinese_variant_forms#刀12" about="#mwt34">
   <link rel="mw:PageProp/Category" href="./Category:Chinese_lemmas#刀12" about="#mwt34">
   <link rel="mw:PageProp/Category" href="./Category:Mandarin_lemmas#刀12" about="#mwt34">
   <link rel="mw:PageProp/Category" href="./Category:Chinese_nouns#刀12" about="#mwt34">
   <link rel="mw:PageProp/Category" href="./Category:Mandarin_nouns#刀12" about="#mwt34">
   <link rel="mw:PageProp/Category" href="./Category:Chinese_terms_with_IPA_pronunciation#刀12" about="#mwt34">
   <link rel="mw:PageProp/Category" href="./Category:Chinese_hanzi#刀12" about="#mwt34">
   <link rel="mw:PageProp/Category" href="./Category:Chinese_lemmas#刀12" about="#mwt34">
   <link rel="mw:PageProp/Category" href="./Category:Mandarin_lemmas#刀12" about="#mwt34">
   <link rel="mw:PageProp/Category" href="./Category:Cantonese_lemmas#刀12" about="#mwt34">
   <link rel="mw:PageProp/Category" href="./Category:Chinese_nouns#刀12" about="#mwt34">
   <link rel="mw:PageProp/Category" href="./Category:Mandarin_nouns#刀12" about="#mwt34">
   <link rel="mw:PageProp/Category" href="./Category:Cantonese_nouns#刀12" about="#mwt34">
   <link rel="mw:PageProp/Category" href="./Category:Chinese_terms_with_IPA_pronunciation#刀12" about="#mwt34">
   <link rel="mw:PageProp/Category" href="./Category:Chinese_hanzi#刀12" about="#mwt34" id="mwTg">
  </section>
  <section data-mw-section-id="14" id="mwTw">
   <h5 id="Usage_notes_2">Usage notes</h5>
   <p id="mwUA">This glyph form is considered a <a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Variant%20Chinese%20character" title="w:Variant Chinese character" about="#mwt35" typeof="mw:Transclusion" class="extiw" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;w&quot;,&quot;href&quot;:&quot;./Template:w&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;Variant Chinese character&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;variant form&quot;}},&quot;i&quot;:0}}]}" id="mwUQ">variant form</a> of <span class="Hani" lang="zh" about="#mwt36" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;l&quot;,&quot;href&quot;:&quot;./Template:l&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;zh&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;⿱[[𥫗]][[㓣]]&quot;}},&quot;i&quot;:0}}]}" id="mwUg">⿱<a rel="mw:WikiLink" href="./𥫗#Chinese" title="𥫗">𥫗</a><a rel="mw:WikiLink" href="./㓣#Chinese" title="㓣">㓣</a></span> in Taiwan but not in mainland China.</p>
  </section>
  <section data-mw-section-id="15" id="mwUw">
   <h5 id="References_2">References</h5>
   <ul id="mwVA">
    <li id="mwVQ"><a rel="mw:ExtLink nofollow" href="http://dict.variants.moe.edu.tw/variants/rbt/word_attribute.rbt?educode=B03225-003" about="#mwt37" typeof="mw:Transclusion" class="external text" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;R:twedu&quot;,&quot;href&quot;:&quot;./Template:R:twedu&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;B03225-003&quot;}},&quot;i&quot;:0}}]}" id="mwVg">Dictionary of Chinese Character Variants (<span class="Hant" lang="zh">教育部異體字字典</span>), B03225-003</a><!-- Note: This reference belongs to Glyph 1, Etymology 2 --></li>
   </ul>
  </section>
 </section>
 <section data-mw-section-id="16" id="mwVw">
  <h4 id="Etymology_3">Etymology 3</h4>
  <section data-mw-section-id="17" id="mwWA">
   <h5 id="Pronunciation">Pronunciation</h5>
   <div class="toccolours zhpron" style="max-width:500px; font-size:100%; overflow: hidden" about="#mwt38" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;zh-pron\n&quot;,&quot;href&quot;:&quot;./Template:zh-pron&quot;},&quot;params&quot;:{&quot;m&quot;:{&quot;wt&quot;:&quot;zhá&quot;},&quot;cat&quot;:{&quot;wt&quot;:&quot;n&quot;}},&quot;i&quot;:0}}]}" id="mwWQ">
    <div class="vsSwitcher" data-toggle-category="pronunciations">
     <p><span class="vsToggleElement" style="float: right;"></span></p>
     <ul>
      <li><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Mandarin%20Chinese" title="w:Mandarin Chinese" class="extiw">Mandarin</a>
       <dl>
        <dd>
         <small>(<i><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Pinyin" title="w:Pinyin" class="extiw">Pinyin</a></i>)</small>: <span class="form-of pinyin-ts-form-of" lang="cmn" style="font-family: Consolas, monospace;"><a rel="mw:WikiLink" href="./zhá" title="zhá">zhá</a> (<a rel="mw:WikiLink" href="./zha2" title="zha2">zha<sup>2</sup></a>)</span>
        </dd>
        <dd>
         <small>(<i><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Zhuyin" title="w:Zhuyin" class="extiw">Zhuyin</a></i>)</small>: <span lang="cmn-Bopo" class="Bopo">ㄓㄚˊ</span>
        </dd>
       </dl></li>
     </ul>
     <div class="vsHide">
      <hr>
      <ul>
       <li><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Mandarin%20Chinese" title="w:Mandarin Chinese" class="extiw">Mandarin</a>
        <ul>
         <li><small>(<i><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Standard%20Chinese" title="w:Standard Chinese" class="extiw">Standard Chinese</a></i>)</small><sup><small><abbr title="Add Mandarin homophones"><span class="plainlinks"><a rel="mw:ExtLink" href="//en.wiktionary.org/w/index.php?title=Module%3Azh%2Fdata%2Fcmn-hom%2F4&amp;action=edit" class="external text">+</a></span></abbr></small></sup>
          <ul>
           <li><small><i><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Pinyin" title="w:Pinyin" class="extiw">Hanyu Pinyin</a></i></small>: <span class="form-of pinyin-ts-form-of" lang="cmn" style="font-family: Consolas, monospace;"><a rel="mw:WikiLink" href="./zhá" title="zhá">zhá</a></span></li>
           <li><small><i><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Zhuyin" title="w:Zhuyin" class="extiw">Zhuyin</a></i></small>: <span lang="cmn-Bopo" class="Bopo">ㄓㄚˊ</span></li>
           <li><small><i><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Tongyong%20Pinyin" title="w:Tongyong Pinyin" class="extiw">Tongyong Pinyin</a></i></small>: <span lang="cmn-Latn-tongyong" style="font-family: Consolas, monospace;">jhá</span></li>
           <li><small><i><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Wade–Giles" title="w:Wade–Giles" class="extiw">Wade–Giles</a></i></small>: <span lang="cmn-Latn-wadegile" style="font-family: Consolas, monospace;">cha<sup>2</sup></span></li>
           <li><small><i><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Yale%20romanization%20of%20Mandarin" title="w:Yale romanization of Mandarin" class="extiw">Yale</a></i></small>: <span lang="cmn-Latn" style="font-family: Consolas, monospace;">já</span></li>
           <li><small><i><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Gwoyeu%20Romatzyh" title="w:Gwoyeu Romatzyh" class="extiw">Gwoyeu Romatzyh</a></i></small>: <span lang="cmn-Latn" style="font-family: Consolas, monospace;">jar</span></li>
           <li><small><i><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Cyrillization%20of%20Chinese" title="w:Cyrillization of Chinese" class="extiw">Palladius</a></i></small>: <span style="font-family: Consolas, monospace;"><span lang="cmn-Cyrl">чжа</span> <span lang="cmn-Latn">(čža)</span></span></li>
           <li><small>Sinological <a rel="mw:WikiLink" href="./Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet">IPA</a> <sup>(<a rel="mw:WikiLink" href="./Appendix:Mandarin_pronunciation" title="Appendix:Mandarin pronunciation">key</a>)</sup></small>: <span class="IPA">/ʈ͡ʂä³⁵/</span></li>
          </ul></li>
        </ul></li>
      </ul>
     </div>
    </div>
    <link rel="mw:PageProp/Category" href="./Category:Kenny's_testing_category_2">
   </div>
   <link rel="mw:PageProp/Category" href="./Category:Chinese_lemmas#刀12" about="#mwt38">
   <link rel="mw:PageProp/Category" href="./Category:Mandarin_lemmas#刀12" about="#mwt38">
   <link rel="mw:PageProp/Category" href="./Category:Chinese_nouns#刀12" about="#mwt38">
   <link rel="mw:PageProp/Category" href="./Category:Mandarin_nouns#刀12" about="#mwt38">
   <link rel="mw:PageProp/Category" href="./Category:Chinese_terms_with_IPA_pronunciation#刀12" about="#mwt38">
   <link rel="mw:PageProp/Category" href="./Category:Chinese_hanzi#刀12" about="#mwt38" id="mwWg">
  </section>
  <section data-mw-section-id="18" id="mwWw">
   <h5 id="Definitions_3">Definitions</h5>
   <p id="mwXA"><strong class="Hani headword" lang="zh" about="#mwt39" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;zh-hanzi&quot;,&quot;href&quot;:&quot;./Template:zh-hanzi&quot;},&quot;params&quot;:{},&quot;i&quot;:0}}]}" id="mwXQ">劄</strong>
    <link rel="mw:PageProp/Category" href="./Category:Chinese_lemmas#刀12" about="#mwt39">
    <link rel="mw:PageProp/Category" href="./Category:Chinese_Han_characters#刀12" about="#mwt39" id="mwXg"></p>
   <ol id="mwXw">
    <li id="mwYA"><span class="ib-brac" about="#mwt40" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;lb&quot;,&quot;href&quot;:&quot;./Template:lb&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;zh&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;mainland China&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;traditional Chinese medicine&quot;}},&quot;i&quot;:0}}]}" id="mwYQ">(</span><span class="ib-content" about="#mwt40"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Mainland%20China" title="w:Mainland China" class="extiw">Mainland China</a>
      <link rel="mw:PageProp/Category" href="./Category:Mainland_China_Chinese#刀12"><span class="ib-comma">,</span><span typeof="mw:Entity"> </span><a rel="mw:WikiLink" href="./traditional_Chinese_medicine" title="traditional Chinese medicine">traditional Chinese medicine</a>
      <link rel="mw:PageProp/Category" href="./Category:zh:Traditional_Chinese_medicine#刀12"></span><span class="ib-brac" about="#mwt40" id="mwYg">)</span> <span class="use-with-mention" about="#mwt41" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;zh-used in&quot;,&quot;href&quot;:&quot;./Template:zh-used_in&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;目劄&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;type of [[eye]] related [[illness]]&quot;}},&quot;i&quot;:0}}]}" id="mwYw">Used in</span><span about="#mwt41"> </span><span class="Hani" lang="zh" about="#mwt41"><a rel="mw:WikiLink" href="./目劄?action=edit&amp;redlink=1#Chinese" title="目劄" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;目劄&quot;]}}">目劄</a></span><span about="#mwt41"> (“type of </span><a rel="mw:WikiLink" href="./eye" title="eye" about="#mwt41">eye</a><span about="#mwt41"> related </span><a rel="mw:WikiLink" href="./illness" title="illness" about="#mwt41">illness</a><span about="#mwt41">”)</span>
     <link rel="mw:PageProp/Category" href="./Category:Chinese_redlinks/zh-l" about="#mwt41"><span about="#mwt41">.</span>.<!-- Refer character 7692, https://zh.wikisource.org/wiki/通用規范漢字表 --></li>
   </ol>
  </section>
 </section>
</section>
<section data-mw-section-id="19" id="mwZA">
 <h3 id="Glyph_2">Glyph 2</h3>
 <dl about="#mwt42" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;Han-glyphref&quot;,&quot;href&quot;:&quot;./Template:Han-glyphref&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;⿱𥫗㓣&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;&quot;}},&quot;i&quot;:0}}]}" id="mwZQ">
  <dd>
   <i>This section refers to</i> <span class="Hani" lang="zh">⿱𥫗㓣</span> <i>glyph.</i>
   <link rel="mw:PageProp/Category" href="./Category:Chinese_Han_characters_with_glyph_variations_due_to_Han_unification">
  </dd>
 </dl>
 <table align="right" style="clear: right;margin: 1em;border-collapse: collapse;text-align: center" about="#mwt43" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;zh-forms&quot;,&quot;href&quot;:&quot;./Template:zh-forms&quot;},&quot;params&quot;:{&quot;alt&quot;:{&quot;wt&quot;:&quot;[[剳#Etymology 1|剳]],[[劄#Etymology 2|劄]]:⿰答刂&quot;}},&quot;i&quot;:0}}]}" id="mwZg">
  <tbody>
   <tr>
    <th style="padding: 0.5em;border: 1px solid #aaa;background: #E0FFFF;font-weight: normal;font-size: smaller;" colspan="2"><a rel="mw:WikiLink" href="./Traditional_Chinese" title="Traditional Chinese">trad.</a></th>
    <td style="padding: 0.5em; background-color:white;border-right: 1px solid #aaa;border: 1px solid #aaa; font-size:x-large" lang="zh-Hant" class="Hant"><strong class="selflink">劄</strong></td>
   </tr>
   <tr>
    <th style="padding: 0.5em;border: 1px solid #aaa;background: #E0FFFF;font-weight: normal;font-size: smaller;" colspan="2"><a rel="mw:WikiLink" href="./Simplified_Chinese" title="Simplified Chinese">simp.</a> <sup><span class="explain" title="Using the same code point as the traditional form due to Han unification. Without proper font support, it may be displayed as the same as the traditional form.">#</span></sup></th>
    <td style="padding: 0.5em; background-color:white;border-right: 1px solid #aaa;border: 1px solid #aaa; font-size:x-large" lang="zh-Hans" class="Hans"><strong class="selflink">劄</strong></td>
   </tr>
   <tr>
    <th style="padding: 0.5em;border: 1px solid #aaa;background: #F0FFE0;font-weight: normal;font-size: smaller;" colspan="2">alternative forms</th>
    <td style="padding: 0.5em; background-color:white;border-right: 1px solid #aaa;border: 1px solid #aaa; font-; padding-top: 10px; padding-bottom: 10px; border-right: 1px solid #aaa; border-bottom: 1px solid #aaa" colspan="1"><span style="white-space:nowrap;"><span class="Hani" lang="zh"><a rel="mw:WikiLink" href="./剳#Etymology_1" title="剳">剳</a></span></span><br><span style="white-space:nowrap;"><span class="Hani" lang="zh"><strong class="selflink">劄</strong></span> (<i><span class="tr Latn">⿰答刂</span></i>)</span></td>
   </tr>
  </tbody>
 </table><!-- Refer http://dict.variants.moe.edu.tw/variants/rbt/word_attribute.rbt?quote_code=QjAzMjI1 -->
 <section data-mw-section-id="20" id="mwZw">
  <h4 id="Glyph_origin_2">Glyph origin</h4>
  <p id="mwaA">Found in the authoritative <a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Kangxi%20dictionary" title="w:Kangxi dictionary" about="#mwt44" typeof="mw:Transclusion" class="extiw" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;w&quot;,&quot;href&quot;:&quot;./Template:w&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;Kangxi dictionary&quot;}},&quot;i&quot;:0}}]}" id="mwaQ">Kangxi dictionary</a> published during the <a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Qing%20dynasty" title="w:Qing dynasty" about="#mwt45" typeof="mw:Transclusion" class="extiw" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;w&quot;,&quot;href&quot;:&quot;./Template:w&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;Qing dynasty&quot;}},&quot;i&quot;:0}}]}" id="mwag">Qing dynasty</a> in 1716 AD.</p>
 </section>
 <section data-mw-section-id="21" id="mwaw">
  <h4 id="Pronunciation_2">Pronunciation</h4>
  <div class="toccolours zhpron" style="max-width:500px; font-size:100%; overflow: hidden" about="#mwt46" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;zh-pron\n&quot;,&quot;href&quot;:&quot;./Template:zh-pron&quot;},&quot;params&quot;:{&quot;m&quot;:{&quot;wt&quot;:&quot;zhá&quot;},&quot;c&quot;:{&quot;wt&quot;:&quot;zaap3,zaat3&quot;},&quot;c_note&quot;:{&quot;wt&quot;:&quot;zaap3 - colloquial; zaat3 - variant&quot;},&quot;mc&quot;:{&quot;wt&quot;:&quot;y&quot;},&quot;oc&quot;:{&quot;wt&quot;:&quot;y&quot;},&quot;cat&quot;:{&quot;wt&quot;:&quot;n&quot;}},&quot;i&quot;:0}}]}" id="mwbA">
   <div class="vsSwitcher" data-toggle-category="pronunciations">
    <p><span class="vsToggleElement" style="float: right;"></span></p>
    <ul>
     <li><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Mandarin%20Chinese" title="w:Mandarin Chinese" class="extiw">Mandarin</a>
      <dl>
       <dd>
        <small>(<i><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Pinyin" title="w:Pinyin" class="extiw">Pinyin</a></i>)</small>: <span class="form-of pinyin-ts-form-of" lang="cmn" style="font-family: Consolas, monospace;"><a rel="mw:WikiLink" href="./zhá" title="zhá">zhá</a> (<a rel="mw:WikiLink" href="./zha2" title="zha2">zha<sup>2</sup></a>)</span>
       </dd>
       <dd>
        <small>(<i><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Zhuyin" title="w:Zhuyin" class="extiw">Zhuyin</a></i>)</small>: <span lang="cmn-Bopo" class="Bopo">ㄓㄚˊ</span>
       </dd>
      </dl></li>
     <li><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Cantonese" title="w:Cantonese" class="extiw">Cantonese</a> <small>(<i><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Jyutping" title="w:Jyutping" class="extiw">Jyutping</a></i>)</small>: <span style="font-family: Consolas, monospace;"><a rel="mw:WikiLink" href="./zaap3?action=edit&amp;redlink=1" title="zaap3" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;zaap3&quot;]}}">zaap<sup>3</sup></a>, <a rel="mw:WikiLink" href="./zaat3?action=edit&amp;redlink=1" title="zaat3" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;zaat3&quot;]}}">zaat<sup>3</sup></a></span></li>
    </ul>
    <div class="vsHide">
     <hr>
     <ul>
      <li><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Mandarin%20Chinese" title="w:Mandarin Chinese" class="extiw">Mandarin</a>
       <ul>
        <li><small>(<i><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Standard%20Chinese" title="w:Standard Chinese" class="extiw">Standard Chinese</a></i>)</small><sup><small><abbr title="Add Mandarin homophones"><span class="plainlinks"><a rel="mw:ExtLink" href="//en.wiktionary.org/w/index.php?title=Module%3Azh%2Fdata%2Fcmn-hom%2F4&amp;action=edit" class="external text">+</a></span></abbr></small></sup>
         <ul>
          <li><small><i><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Pinyin" title="w:Pinyin" class="extiw">Hanyu Pinyin</a></i></small>: <span class="form-of pinyin-ts-form-of" lang="cmn" style="font-family: Consolas, monospace;"><a rel="mw:WikiLink" href="./zhá" title="zhá">zhá</a></span></li>
          <li><small><i><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Zhuyin" title="w:Zhuyin" class="extiw">Zhuyin</a></i></small>: <span lang="cmn-Bopo" class="Bopo">ㄓㄚˊ</span></li>
          <li><small><i><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Tongyong%20Pinyin" title="w:Tongyong Pinyin" class="extiw">Tongyong Pinyin</a></i></small>: <span lang="cmn-Latn-tongyong" style="font-family: Consolas, monospace;">jhá</span></li>
          <li><small><i><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Wade–Giles" title="w:Wade–Giles" class="extiw">Wade–Giles</a></i></small>: <span lang="cmn-Latn-wadegile" style="font-family: Consolas, monospace;">cha<sup>2</sup></span></li>
          <li><small><i><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Yale%20romanization%20of%20Mandarin" title="w:Yale romanization of Mandarin" class="extiw">Yale</a></i></small>: <span lang="cmn-Latn" style="font-family: Consolas, monospace;">já</span></li>
          <li><small><i><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Gwoyeu%20Romatzyh" title="w:Gwoyeu Romatzyh" class="extiw">Gwoyeu Romatzyh</a></i></small>: <span lang="cmn-Latn" style="font-family: Consolas, monospace;">jar</span></li>
          <li><small><i><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Cyrillization%20of%20Chinese" title="w:Cyrillization of Chinese" class="extiw">Palladius</a></i></small>: <span style="font-family: Consolas, monospace;"><span lang="cmn-Cyrl">чжа</span> <span lang="cmn-Latn">(čža)</span></span></li>
          <li><small>Sinological <a rel="mw:WikiLink" href="./Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet">IPA</a> <sup>(<a rel="mw:WikiLink" href="./Appendix:Mandarin_pronunciation" title="Appendix:Mandarin pronunciation">key</a>)</sup></small>: <span class="IPA">/ʈ͡ʂä³⁵/</span></li>
         </ul></li>
       </ul></li>
      <li><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Cantonese" title="w:Cantonese" class="extiw">Cantonese</a>
       <ul>
        <li><small>(<i><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Standard%20Cantonese" title="w:Standard Cantonese" class="extiw">Standard Cantonese</a>, <a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Guangzhou%20Cantonese" title="w:Guangzhou Cantonese" class="extiw">Guangzhou</a>–<a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Hong%20Kong%20Cantonese" title="w:Hong Kong Cantonese" class="extiw">Hong Kong</a></i>)</small><sup><small><abbr title="Add Cantonese homophones"><span class="plainlinks"><a rel="mw:ExtLink" href="//en.wiktionary.org/w/index.php?title=Module%3Ayue-pron%2Fhom&amp;action=edit" class="external text">+</a></span></abbr></small></sup>
         <ul>
          <li><small><i><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Jyutping" title="w:Jyutping" class="extiw">Jyutping</a></i></small>: <span style="font-family: Consolas, monospace;">zaap<sup>3</sup>, zaat<sup>3</sup></span></li>
          <li><small><i><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Yale%20romanization%20of%20Cantonese" title="w:Yale romanization of Cantonese" class="extiw">Yale</a></i></small>: <span style="font-family: Consolas, monospace;">jaap, jaat</span></li>
          <li><small><i><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Cantonese%20Pinyin" title="w:Cantonese Pinyin" class="extiw">Cantonese Pinyin</a></i></small>: <span style="font-family: Consolas, monospace;">dzaap<sup>8</sup>, dzaat<sup>8</sup></span></li>
          <li><small><i><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Guangdong%20Romanization" title="w:Guangdong Romanization" class="extiw">Guangdong Romanization</a></i></small>: <span style="font-family: Consolas, monospace;">zab<sup>3</sup>, zad<sup>3</sup></span></li>
          <li><small>Sinological <a rel="mw:WikiLink" href="./Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet">IPA</a> <sup>(<a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Cantonese%20phonology" title="w:Cantonese phonology" class="extiw">key</a>)</sup></small>: <span class="IPA">/t͡saːp̚³/, /t͡saːt̚³/</span></li>
         </ul></li>
       </ul></li>
     </ul>
     <div style="border: 1px solid green; padding: 4px; margin: 8px; background: #F7F4ED; font-size: 85%">
      <b>Note</b>: 
      <ul>
       <li>zaap3 - colloquial;</li>
       <li>zaat3 - variant.</li>
      </ul>
     </div>
    </div>
   </div>
   <hr>
   <div style="background-color:#f7fbff">
    <div class="vsSwitcher" data-toggle-category="pronunciations">
     <ul>
      <li><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Middle%20Chinese" title="w:Middle Chinese" class="extiw">Middle Chinese</a>: <span style="font-size:95%"><span class="IPA">/ʈˠɛp̚/</span></span><span class="vsToggleElement" style="float:right; padding:0 0; font-size:90%"></span></li>
     </ul>
     <div class="vsHide">
      <table class="wikitable" style="width:100%; margin:0; text-align:center; border-collapse: collapse; border-style: hidden;">
       <tbody>
        <tr>
         <th style="background-color:#D0E4F7" colspan="2">Rime</th>
        </tr>
        <tr>
         <th style="background-color:#E1EEFA; width:8em"><small>Character</small></th>
         <td style="background-color:#f7fbff"><b><span class="Hani" lang="zh">劄</span></b></td>
        </tr>
        <tr>
         <th style="background-color:#E1EEFA; width:8em"><small>Reading #</small></th>
         <td style="background-color:#f7fbff">1/1</td>
        </tr>
        <tr>
         <th style="background-color:#E1EEFA; width:8em"><small>Initial</small> (<span class="Hani" lang="zh">聲</span>)</th>
         <td style="background-color:#f7fbff"><span class="Hani" lang="zh"><a rel="mw:WikiLink" href="./知" title="知">知</a></span> (9)</td>
        </tr>
        <tr>
         <th style="background-color:#E1EEFA; width:8em"><small>Final</small> (<span class="Hani" lang="zh">韻</span>)</th>
         <td style="background-color:#f7fbff"><span class="Hani" lang="zh"><a rel="mw:WikiLink" href="./咸" title="咸">咸</a></span> (152)</td>
        </tr>
        <tr>
         <th style="background-color:#E1EEFA; width:8em"><small>Tone</small> (<span class="Hani" lang="zh">調</span>)</th>
         <td style="background-color:#f7fbff">Checked (Ø)</td>
        </tr>
        <tr>
         <th style="background-color:#E1EEFA; width:8em"><small>Openness</small> (<span class="Hani" lang="zh">開合</span>)</th>
         <td style="background-color:#f7fbff">Open</td>
        </tr>
        <tr>
         <th style="background-color:#E1EEFA; width:8em"><small>Division</small> (<span class="Hani" lang="zh">等</span>)</th>
         <td style="background-color:#f7fbff">II</td>
        </tr>
        <tr>
         <th style="background-color:#E1EEFA; width:8em"><small><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Fanqie" title="w:Fanqie" class="extiw">Fanqie</a></small></th>
         <td style="background-color:#f7fbff"><span class="Hani" lang="zh"><a rel="mw:WikiLink" href="./竹" title="竹">竹</a><a rel="mw:WikiLink" href="./洽" title="洽">洽</a>切</span></td>
        </tr>
        <tr>
         <th style="background-color:#D0E4F7" colspan="2">Reconstructions</th>
        </tr>
        <tr>
         <th style="background-color:#E1EEFA; width:8em"><small><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Zhengzhang%20Shangfang" title="w:Zhengzhang Shangfang" class="extiw">Zhengzhang<br>
            Shangfang</a></small></th>
         <td style="background-color:#f7fbff"><span class="IPAchar" lang="zh">/ʈˠɛp̚/</span></td>
        </tr>
        <tr>
         <th style="background-color:#E1EEFA; width:8em"><small><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Pan%20Wuyun" title="w:Pan Wuyun" class="extiw">Pan<br>
            Wuyun</a></small></th>
         <td style="background-color:#f7fbff"><span class="IPAchar" lang="zh">/ʈᵚæp̚/</span></td>
        </tr>
        <tr>
         <th style="background-color:#E1EEFA; width:8em"><small><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/zh:邵荣芬" title="w:zh:邵荣芬" class="extiw">Shao<br>
            Rongfen</a></small></th>
         <td style="background-color:#f7fbff"><span class="IPAchar" lang="zh">/ȶɐp̚/</span></td>
        </tr>
        <tr>
         <th style="background-color:#E1EEFA; width:8em"><small><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Edwin%20G.%20Pulleyblank" title="w:Edwin G. Pulleyblank" class="extiw">Edwin<br>
            Pulleyblank</a></small></th>
         <td style="background-color:#f7fbff"><span class="IPAchar" lang="zh">/ʈəɨp̚/</span></td>
        </tr>
        <tr>
         <th style="background-color:#E1EEFA; width:8em"><small><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Li%20Rong%20(linguist)" title="w:Li Rong (linguist)" class="extiw">Li<br>
            Rong</a></small></th>
         <td style="background-color:#f7fbff"><span class="IPAchar" lang="zh">/ȶɐp̚/</span></td>
        </tr>
        <tr>
         <th style="background-color:#E1EEFA; width:8em"><small><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Wang%20Li%20(linguist)" title="w:Wang Li (linguist)" class="extiw">Wang<br>
            Li</a></small></th>
         <td style="background-color:#f7fbff"><span class="IPAchar" lang="zh">/ȶɐp̚/</span></td>
        </tr>
        <tr>
         <th style="background-color:#E1EEFA; width:8em"><small><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Bernhard%20Karlgren" title="w:Bernhard Karlgren" class="extiw">Bernard<br>
            Karlgren</a></small></th>
         <td style="background-color:#f7fbff"><span class="IPAchar" lang="zh">/ȶăp̚/</span></td>
        </tr>
        <tr>
         <th style="background-color:#E1EEFA; width:8em"><small>Expected<br>
           Mandarin<br>
           Reflex</small></th>
         <td style="background-color:#f7fbff">zha</td>
        </tr>
        <tr>
         <th style="background-color:#E1EEFA; width:8em"><small>Expected<br>
           Cantonese<br>
           Reflex</small></th>
         <td style="background-color:#f7fbff">zaap<sup>3</sup></td>
        </tr>
       </tbody>
      </table>
     </div>
    </div>
    <div class="vsSwitcher" data-toggle-category="pronunciations">
     <ul>
      <li><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Old%20Chinese" title="w:Old Chinese" class="extiw">Old Chinese</a><span class="vsToggleElement" style="float:right; padding:0 0; font-size:90%"></span>
       <dl>
        <dd>
         <small>(<i><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Zhengzhang%20Shangfang" title="w:Zhengzhang Shangfang" class="extiw">Zhengzhang</a></i>)</small>: <span style="font-size:95%"><span class="IPAchar">/*rtuːb/</span></span>
        </dd>
       </dl></li>
     </ul>
     <div class="vsHide">
      <table class="wikitable" style="width:100%; margin:0; text-align:center; border-collapse: collapse; border-style: hidden;">
       <tbody>
        <tr>
         <th style="background-color:#ccece6" colspan="2"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Zhengzhang%20Shangfang" title="w:Zhengzhang Shangfang" class="extiw">Zhengzhang</a> system (2003)</th>
        </tr>
        <tr>
         <th style="background-color:#E0F3F3; width:8em"><small>Character</small></th>
         <td style="background-color:#F7FCFB"><b><span class="Hani" lang="zh">劄</span></b></td>
        </tr>
        <tr>
         <th style="background-color:#E0F3F3; width:8em"><small>Reading #</small></th>
         <td style="background-color:#F7FCFB">1/1</td>
        </tr>
        <tr>
         <th style="background-color:#E0F3F3; width:8em"><small>No.</small></th>
         <td style="background-color:#F7FCFB">4983</td>
        </tr>
        <tr>
         <th style="background-color:#E0F3F3; width:8em"><small>Phonetic<br>
           component</small></th>
         <td style="background-color:#F7FCFB"><span class="Hani" lang="zh"><a rel="mw:WikiLink" href="./合" title="合">合</a></span></td>
        </tr>
        <tr>
         <th style="background-color:#E0F3F3; width:8em"><small>Rime<br>
           group</small></th>
         <td style="background-color:#F7FCFB"><span class="Hani" lang="zh"><a rel="mw:WikiLink" href="./緝" title="緝">緝</a></span></td>
        </tr>
        <tr>
         <th style="background-color:#E0F3F3; width:8em"><small>Rime<br>
           subdivision</small></th>
         <td style="background-color:#F7FCFB">3</td>
        </tr>
        <tr>
         <th style="background-color:#E0F3F3; width:8em"><small>Corresponding<br>
           MC rime</small></th>
         <td style="background-color:#F7FCFB"><span class="Hani" lang="zh"><a rel="mw:WikiLink" href="./劄" title="劄">劄</a></span></td>
        </tr>
        <tr>
         <th style="background-color:#E0F3F3; width:8em"><small>Old<br>
           Chinese</small></th>
         <td style="background-color:#F7FCFB"><span class="IPAchar">/*rtuːb/</span></td>
        </tr>
       </tbody>
      </table>
     </div>
    </div>
   </div>
  </div>
  <link rel="mw:PageProp/Category" href="./Category:Middle_Chinese_lemmas#刀12" about="#mwt46">
  <link rel="mw:PageProp/Category" href="./Category:Middle_Chinese_-p_characters#刀12" about="#mwt46">
  <link rel="mw:PageProp/Category" href="./Category:Old_Chinese_lemmas#刀12" about="#mwt46">
  <link rel="mw:PageProp/Category" href="./Category:Chinese_lemmas#刀12" about="#mwt46">
  <link rel="mw:PageProp/Category" href="./Category:Mandarin_lemmas#刀12" about="#mwt46">
  <link rel="mw:PageProp/Category" href="./Category:Cantonese_lemmas#刀12" about="#mwt46">
  <link rel="mw:PageProp/Category" href="./Category:Chinese_nouns#刀12" about="#mwt46">
  <link rel="mw:PageProp/Category" href="./Category:Mandarin_nouns#刀12" about="#mwt46">
  <link rel="mw:PageProp/Category" href="./Category:Cantonese_nouns#刀12" about="#mwt46">
  <link rel="mw:PageProp/Category" href="./Category:Chinese_terms_with_IPA_pronunciation#刀12" about="#mwt46">
  <link rel="mw:PageProp/Category" href="./Category:Chinese_hanzi#刀12" about="#mwt46" id="mwbQ">
 </section>
 <section data-mw-section-id="22" id="mwbg">
  <h4 id="Definitions_4">Definitions</h4>
  <p id="mwbw"><strong class="Hani headword" lang="zh" about="#mwt47" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;zh-hanzi&quot;,&quot;href&quot;:&quot;./Template:zh-hanzi&quot;},&quot;params&quot;:{},&quot;i&quot;:0}}]}" id="mwcA">劄</strong>
   <link rel="mw:PageProp/Category" href="./Category:Chinese_lemmas#刀12" about="#mwt47">
   <link rel="mw:PageProp/Category" href="./Category:Chinese_Han_characters#刀12" about="#mwt47" id="mwcQ"></p>
  <ol id="mwcg">
   <li id="mwcw"><span about="#mwt48" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;zh-alt-lb&quot;,&quot;href&quot;:&quot;./Template:zh-alt-lb&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;札&quot;}},&quot;i&quot;:0}}]}" id="mwdA">(</span><span class="use-with-mention" about="#mwt48">alt. form <span class="Hani" lang="zh"><a rel="mw:WikiLink" href="./札#Chinese" title="札">札</a></span></span><span about="#mwt48">)</span> <a rel="mw:WikiLink" href="./letter" title="letter" id="mwdQ">letter</a></li>
   <li id="mwdg"><span about="#mwt49" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;zh-alt-lb&quot;,&quot;href&quot;:&quot;./Template:zh-alt-lb&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;札&quot;}},&quot;i&quot;:0}}]}" id="mwdw">(</span><span class="use-with-mention" about="#mwt49">alt. form <span class="Hani" lang="zh"><a rel="mw:WikiLink" href="./札#Chinese" title="札">札</a></span></span><span about="#mwt49">)</span> <a rel="mw:WikiLink" href="./official" title="official" id="mweA">official</a> <a rel="mw:WikiLink" href="./communiqué" title="communiqué" id="mweQ">communiqué</a>
    <dl id="mweg">
     <dd id="mwew">
      <span style="background:#FFF2E0" class="defdate" about="#mwt50" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;zh-syn&quot;,&quot;href&quot;:&quot;./Template:zh-syn&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;公文&quot;}},&quot;i&quot;:0}}]}" id="mwfA"><a rel="mw:WikiLink" href="./Appendix:Glossary#synonym" title="Appendix:Glossary">Synonym</a>:</span><span about="#mwt50"> </span><span style="font-size:85%;" about="#mwt50" id="mwfQ"><span class="Hani" lang="zh"><a rel="mw:WikiLink" href="./公文#Chinese" title="公文">公文</a></span> (<i><span class="tr Latn">gōngwén</span></i>)</span>
     </dd>
    </dl></li>
   <li id="mwfg"><a rel="mw:WikiLink" href="./brief" title="brief" id="mwfw">brief</a> <a rel="mw:WikiLink" href="./note" title="note" id="mwgA">note</a>
    <dl id="mwgQ">
     <dd id="mwgg">
      <span style="background:#FFF2E0" class="defdate" about="#mwt51" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;zh-syn&quot;,&quot;href&quot;:&quot;./Template:zh-syn&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;筆記&quot;}},&quot;i&quot;:0}}]}" id="mwgw"><a rel="mw:WikiLink" href="./Appendix:Glossary#synonym" title="Appendix:Glossary">Synonym</a>:</span><span about="#mwt51"> </span><span style="font-size:85%;" about="#mwt51" id="mwhA"><span class="Hant" lang="zh-Hant"><a rel="mw:WikiLink" href="./筆記#Chinese" title="筆記">筆記</a></span><span class="Hani" lang="zh">／</span><span class="Hans" lang="zh-Hans"><a rel="mw:WikiLink" href="./笔记#Chinese" title="笔记">笔记</a></span> (<i><span class="tr Latn">bǐjì</span></i>)</span>
     </dd>
    </dl></li>
  </ol>
  <section data-mw-section-id="23" id="mwhQ">
   <h5 id="Compounds">Compounds</h5>
   <div style="width: auto; margin: 0; overflow: auto;" about="#mwt52" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;zh-der&quot;,&quot;href&quot;:&quot;./Template:zh-der&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;劄付&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;劄子&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;劄記&quot;},&quot;4&quot;:{&quot;wt&quot;:&quot;告劄&quot;},&quot;5&quot;:{&quot;wt&quot;:&quot;撩東劄西&quot;},&quot;6&quot;:{&quot;wt&quot;:&quot;紙劄&quot;},&quot;7&quot;:{&quot;wt&quot;:&quot;駐劄&quot;},&quot;8&quot;:{&quot;wt&quot;:&quot;駐劄國&quot;},&quot;9&quot;:{&quot;wt&quot;:&quot;點劄&quot;}},&quot;i&quot;:0}}]}" id="mwhg">
    <table role="presentation" style="width: 100%">
     <tbody>
      <tr>
       <td style="background: #F5F5FF; vertical-align: top; width: 26%">
        <ul>
         <li><span class="Hani" lang="zh"><a rel="mw:WikiLink" href="./劄付?action=edit&amp;redlink=1#Chinese" title="劄付" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;劄付&quot;]}}">劄付</a></span>
          <link rel="mw:PageProp/Category" href="./Category:Chinese_redlinks/zh-l"></li>
         <li><span class="Hani" lang="zh"><a rel="mw:WikiLink" href="./劄子?action=edit&amp;redlink=1#Chinese" title="劄子" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;劄子&quot;]}}">劄子</a></span>
          <link rel="mw:PageProp/Category" href="./Category:Chinese_redlinks/zh-l"></li>
         <li><span class="Hani" lang="zh"><a rel="mw:WikiLink" href="./告劄?action=edit&amp;redlink=1#Chinese" title="告劄" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;告劄&quot;]}}">告劄</a></span>
          <link rel="mw:PageProp/Category" href="./Category:Chinese_redlinks/zh-l"></li>
        </ul></td>
       <td style="width: 1%;"></td>
       <td style="background: #F5F5FF; vertical-align: top; text-align: left; width: 26%;">
        <ul>
         <li><span class="Hant" lang="zh-Hant"><a rel="mw:WikiLink" href="./劄記#Chinese" title="劄記">劄記</a></span><span class="Hani" lang="zh">／</span><span class="Hans" lang="zh-Hans"><a rel="mw:WikiLink" href="./劄记#Chinese" title="劄记">劄记</a></span></li>
         <li><span class="Hant" lang="zh-Hant"><a rel="mw:WikiLink" href="./撩東劄西?action=edit&amp;redlink=1#Chinese" title="撩東劄西" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;撩東劄西&quot;]}}">撩東劄西</a></span><span class="Hani" lang="zh">／</span><span class="Hans" lang="zh-Hans"><a rel="mw:WikiLink" href="./撩东劄西?action=edit&amp;redlink=1#Chinese" title="撩东劄西" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;撩东劄西&quot;]}}">撩东劄西</a></span>
          <link rel="mw:PageProp/Category" href="./Category:Chinese_redlinks/zh-l"></li>
         <li><span class="Hant" lang="zh-Hant"><a rel="mw:WikiLink" href="./紙劄?action=edit&amp;redlink=1#Chinese" title="紙劄" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;紙劄&quot;]}}">紙劄</a></span><span class="Hani" lang="zh">／</span><span class="Hans" lang="zh-Hans"><a rel="mw:WikiLink" href="./纸劄?action=edit&amp;redlink=1#Chinese" title="纸劄" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;纸劄&quot;]}}">纸劄</a></span>
          <link rel="mw:PageProp/Category" href="./Category:Chinese_redlinks/zh-l"></li>
        </ul></td>
       <td style="width: 1%;"></td>
       <td style="background: #F5F5FF; vertical-align: top; text-align: left; width: 26%;">
        <ul>
         <li><span class="Hant" lang="zh-Hant"><a rel="mw:WikiLink" href="./駐劄?action=edit&amp;redlink=1#Chinese" title="駐劄" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;駐劄&quot;]}}">駐劄</a></span><span class="Hani" lang="zh">／</span><span class="Hans" lang="zh-Hans"><a rel="mw:WikiLink" href="./驻劄?action=edit&amp;redlink=1#Chinese" title="驻劄" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;驻劄&quot;]}}">驻劄</a></span>
          <link rel="mw:PageProp/Category" href="./Category:Chinese_redlinks/zh-l"></li>
         <li><span class="Hant" lang="zh-Hant"><a rel="mw:WikiLink" href="./駐劄國?action=edit&amp;redlink=1#Chinese" title="駐劄國" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;駐劄國&quot;]}}">駐劄國</a></span><span class="Hani" lang="zh">／</span><span class="Hans" lang="zh-Hans"><a rel="mw:WikiLink" href="./驻劄国?action=edit&amp;redlink=1#Chinese" title="驻劄国" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;驻劄国&quot;]}}">驻劄国</a></span>
          <link rel="mw:PageProp/Category" href="./Category:Chinese_redlinks/zh-l"></li>
         <li><span class="Hant" lang="zh-Hant"><a rel="mw:WikiLink" href="./點劄?action=edit&amp;redlink=1#Chinese" title="點劄" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;點劄&quot;]}}">點劄</a></span><span class="Hani" lang="zh">／</span><span class="Hans" lang="zh-Hans"><a rel="mw:WikiLink" href="./点劄?action=edit&amp;redlink=1#Chinese" title="点劄" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;点劄&quot;]}}">点劄</a></span>
          <link rel="mw:PageProp/Category" href="./Category:Chinese_redlinks/zh-l"></li>
        </ul></td>
      </tr>
     </tbody>
    </table>
   </div>
  </section>
 </section>
 <section data-mw-section-id="24" id="mwhw">
  <h4 id="References_3">References</h4>
  <ul id="mwiA">
   <li id="mwiQ"><a rel="mw:ExtLink nofollow" href="http://dict.variants.moe.edu.tw/variants/rbt/word_attribute.rbt?educode=B03225" about="#mwt53" typeof="mw:Transclusion" class="external text" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;R:twedu&quot;,&quot;href&quot;:&quot;./Template:R:twedu&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;B03225&quot;}},&quot;i&quot;:0}}]}" id="mwig">Dictionary of Chinese Character Variants (<span class="Hant" lang="zh">教育部異體字字典</span>), B03225</a><!-- Note: This reference belongs to Glyph 2 --></li>
   <li id="mwiw"><span about="#mwt54" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;R:yue:Hanzi&quot;,&quot;href&quot;:&quot;./Template:R:yue:Hanzi&quot;},&quot;params&quot;:{},&quot;i&quot;:0}}]}" id="mwjA">“</span><a rel="mw:ExtLink nofollow" href="https://humanum.arts.cuhk.edu.hk/Lexis/lexi-mf/search.php?word=劄" about="#mwt54" class="external text"><span class="Hani" lang="zh">劄</span></a><span about="#mwt54">”, in</span><span typeof="mw:Entity" about="#mwt54"> </span><cite about="#mwt54"><span class="Hant" lang="zh">漢語多功能字庫</span> (Multi-function Chinese Character Database)</cite><span typeof="mw:Entity" about="#mwt54">‎</span><sup about="#mwt54"><a rel="mw:ExtLink nofollow" href="https://humanum.arts.cuhk.edu.hk/Lexis/lexi-mf/" class="external autonumber"></a></sup><span about="#mwt54">, </span><span class="Hant" lang="zh" about="#mwt54"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/zh:香港中文大學" title="w:zh:香港中文大學" class="extiw">香港中文大學</a></span><span about="#mwt54"> (the </span><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Chinese%20University%20of%20Hong%20Kong" title="w:Chinese University of Hong Kong" about="#mwt54" class="extiw">Chinese University of Hong Kong</a><span about="#mwt54">), 2014</span><span typeof="mw:Entity" about="#mwt54">–</span></li>
  </ul>
 </section>
</section>
